extend default
include common.pug

block vars
  - const page_title = 'Performed Actions';

block content
  .container-fluid
    div.vert-space-x2
      if(singleType && actionTypeForm.tags && !actionTypeForm.tags.includes('Trash'))
        a(href = `/action/${actionTypeForm.formId}`).btn.btn-primary
          img.small-icon(src = '/images/run_icon.svg')
          | &nbsp; Perform a New Action of this Type

        div.vert-space-x2

      h2 #{title}

    div.vert-space-x1
      table.table
        thead
          tr
            th.col-md-2 Type Name
            th.col-md-2 Action ID
            th.col-md-2 Action Name
            th.col-md-2 Performed on Component:
            th.col-md-2 Last Performed On:
            th.col-md-1

        tbody
          each action in actions
            - const notSingleType_notTrashed = !singleType && !allActionTypeForms[action.typeFormId].tags.includes('Trash');

            if(notSingleType_notTrashed || singleType)
              - const uuid = MUUID.from(action.componentUuid).toString();

              tr
                td #{action.typeFormName}
                td
                  a(href = `/action/${action.actionId}`) #{action.actionId}
                td #{action.name}
                td
                  a(href = `/component/${uuid}`) #{uuid}
                td
                  +dateFormatAndAgo(action.lastEditDate)
                td
                  a(href = `/json/action/${action.actionId}`, target = '_blank').btn-sm.btn-secondary
                    img.small-icon(src = '/images/checklist_icon.svg')
                    | &nbsp; JSON Record

    div.vert-space-x2
