extend default
include common.pug

block vars
  - const page_title = 'All Action Types';

block extrascripts
  block workscripts
    script(src = '/pages/action_listTypes.js')

block content
  .container-fluid
    div.vert-space-x2
      a(href = '#', data-toggle = 'modal' data-target = '#NewTypeModal').btn.btn-warning
        img.small-icon(src = '/images/edit_icon.svg')
        | &nbsp; Create New Action Type Form

      #NewTypeModal.modal.fade(tabindex = '-1' role = 'dialog' aria-labelledby = 'NewTypeLabel' aria-hidden = 'true')
        .modal-dialog(role = 'document')
          .modal-content
            .modal-header
              h5#NewTypeLabel.modal-title Create New Action Type Form
              button.close(type = 'button', data-dismiss = 'modal', aria-label = 'Close')
                span(aria-hidden = 'true') &times;
            .modal-body
              div
                | Enter the new action type form ID.
                br
                | NOTE: this ID must have only underscores and alphanumerics (no spaces, hyphens or special characters).  A human-readable name can be set on the next page.
              div.vert-space-x1
                input.form-control#formId(type = 'text')
            .modal-footer
              button.btn.btn-danger(type = 'button', data-dismiss = 'modal') Close
              button.btn.btn-success#NewTypeButton(type = 'button') Create

    div.vert-space-x2
      h2 Available Action Types

    div.vert-space-x1
      table.table
        thead
          tr
            th.col-md-2 Type ID
            th.col-md-2 Type Name
            th.col-md-3 Recommended Component Types
            th.col-md-2
            th.col-md-2

        tbody
          each typeFormId in Object.keys(actionTypeForms).sort()
            - const typeForm = actionTypeForms[typeFormId];

            if(typeForm.tags && !typeForm.tags.includes('Trash')) 
              tr
                td #{typeFormId}
                td
                  a(href = `/actions/${typeFormId}/list`) #{typeForm.formName}

                if(typeForm.componentTypes.length > 0)
                  td 
                    +arrayFormat(typeForm.componentTypes)
                else
                  td (none)

                td
                  a(href = `/action/${typeFormId}`).btn-sm.btn-primary 
                    img.small-icon(src = '/images/run_icon.svg')
                    | &nbsp; Perform Action on Component
                td
                  a(href = `/actionTypes/${typeFormId}/edit`).btn-sm.btn-warning 
                    img.small-icon(src = '/images/edit_icon.svg')
                    | &nbsp; Edit Action Type Form

    if(permissions.userHas(user, 'forms:edit'))
      div.vert-space-x2
        h2 Trashed Action Types

      div.vert-space-x1
        table.table
          thead
            tr
              th.col-md-2 Type ID
              th.col-md-2 Type Name
              th.col-md-3 Recommended Component Types
              th.col-md-2
              th.col-md-2

          tbody
            each typeFormId in Object.keys(actionTypeForms).sort()
              - const typeForm = actionTypeForms[typeFormId];

              if(typeForm.tags && typeForm.tags.includes('Trash')) 
                tr
                  td #{typeFormId}  
                  td
                    a(href = `/actions/${typeFormId}/list`) #{typeForm.formName}

                  if(typeForm.componentTypes.length > 0)
                    td
                      +arrayFormat(typeForm.componentTypes)
                  else
                    td (none)

                  td
                  td
                    a(href = `/actionTypes/${typeFormId}/edit`).btn-sm.btn-warning 
                      img.small-icon(src = '/images/edit_icon.svg')
                      | &nbsp; Edit Action Type Form

    div.vert-space-x2
