extend default
include common.pug

block vars
  - const page_title = 'View Action Information';

block extrascripts
  script(type = 'text/javascript').
    const action = !{JSON.stringify(action, null, 4)};
    const actionVersions = !{JSON.stringify(actionVersions, null, 4)};
    const actionTypeForm = !{JSON.stringify(actionTypeForm, null, 4)};
    const component = !{JSON.stringify(component, null, 4)};

  block workscripts
    script(src = '/pages/action.js')

block content
  .container-fluid
    .vert-space-x2
      h2 View Action Information

    .vert-space-x1
      dl
        dt Action Type
        dd 
          .form-inline
            a #{action.typeFormName}

            .hori-space-x1
              a.btn-sm.btn-primary(href = `/action/${action.typeFormId}/unspec`)
                img.small-icon(src = '/images/run_icon.svg')
                | &nbsp; Perform New Action of This Type

        dt Action ID
        dd
          .form-inline
            a(href = `/action/${action.actionId}`) #{action.actionId}

            .hori-space-x1
              a.copybutton.btn-sm#copy_id(onclick = 'CopyID(action.actionId)') Copy

        - const uuid = MUUID.from(action.componentUuid).toString();

        dt Performed on Component:
        dd UUID: 
          a(href = `/component/${uuid}`) #{uuid}
          br
          | Type: #{component.formName}
          br
          | Name: #{component.data.name}

        if action.workflowId
          dt Part of Workflow:
          dd
            a(href = `/workflow/${action.workflowId}`, target = '_blank') #{action.workflowId}

        dt Action Data:
        dd This is version #{action.validity.version} of the action, and it was last performed on !{' '}
          +dateFormat(action.insertion.insertDate)

          if action.insertion.user
            |  by !{' '}
            a(href = `mailto:${user_email(action.insertion.user)}`) #{action.insertion.user.displayName}

          .vert-space-x1.border-success.border.rounded.p-2
            #typeform

          .vert-space-x1

        if action.typeFormId == 'action_test' || action.typeFormId == 'APANonConformance'
          dt Add Images to Action Record:
          dd Please use the 'Select Images' button below to select one or more images from your device to add to this action record.  Once you are happy with your selection, please use the 'Confirm Images' button to finalise the upload.
            br
            | Please make sure that your <b>images are individually no more than <u>1MB</u> in size</b>, and <b>please do not add more than <u>5 images</u> in total to any single record</b>.

            .vert-space-x1.form-inline
              label.btn.btn-primary(for = 'image-selector')
                input.custom-file-input#image-selector(type = 'file', style = 'display:none', onchange = 'DisplayFileNames(this)', multiple)
                | Select Images

              .hori-space-x2
                label.label-info#image-filenames 

              .hori-space-x2
                a.btn-danger.btn-sm#confirm-button(onclick = 'EncodeStoreImages()') Confirm Upload

            if action.images
              .vert-space-x1
                .panel.panel-default
                .foldable-heading.panel-heading.collapsed(data-toggle = 'collapse' data-target = '#imagesBox')
                  | View Gallery (#{action.images.length} images): 
                  i.chevron.fa.fa-fw 

                .collapse#imagesBox
                  each imageString in action.images
                    img.in-gallery(src = imageString)

    .vert-space-x2
      .panel.panel-default
      .foldable-heading.panel-heading.collapsed(data-toggle = 'collapse' data-target = '#versionsBox')
        | All Versions: 
        i.chevron.fa.fa-fw 

      .collapse#versionsBox
        ul
          each v in actionVersions
            li 
              a(href = `?version=${v.validity.version}`) Version #{v.validity.version}
              |  on 
              +dateFormat(v.insertion.insertDate)

              if v.insertion.user
                |  by !{' '}
                a(href = `mailto:${user_email(v.insertion.user)}`) #{v.insertion.user.displayName}

    .vert-space-x2.form-inline

      a.btn.btn-warning(href = `/action/${action.actionId}/edit`)
        img.small-icon(src = '/images/edit_icon.svg')
        | &nbsp; Edit Action

      .hori-space-x2
        a.btn.btn-secondary(href = `/json/action/${action.actionId}`, target = '_blank')
          img.small-icon(src = '/images/checklist_icon.svg')
          | &nbsp; View JSON Record

    .vert-space-x2
