extend default

block vars
  - const page_title = 'Perform or Edit Action (Specified Component)';

block extrascripts
  script(type = 'text/javascript').
    const action = !{JSON.stringify((action || {}), null, 4)}; 
    const actionTypeForm = !{JSON.stringify(actionTypeForm, null, 4)}; 
    const componentUuid = !{JSON.stringify(componentUuid)};
    const componentName = !{JSON.stringify(componentName), null, 4};
    const workflowId = !{JSON.stringify(workflowId, null, 4)};
    const stepIndex = !{JSON.stringify(stepIndex, null, 4)};

  block workscripts
    script(src = '/pages/action_specComponent.js')

block content
  .container-fluid
    .vert-space-x2
      h2 Perform or Edit Action (Specified Component)

    .vert-space-x1
      dl
        dt Action Type
        dd #{actionTypeForm.formName}

        dt Component UUID
        dd
          a(href = `/component/${componentUuid}`) #{componentUuid}

        dt Component Name

        if componentName
          dd #{componentName}
        else
          dd (none)

    .vert-space-x1
      hr

    .vert-space-x1.formbuilder_area
      #typeform

    .vert-space-x2
