extend default
include common.pug

block vars
  - const page_title = 'Performed Actions';

block content
  .container-fluid
    .vert-space-x2
      if singleType && actionTypeForm.tags && !actionTypeForm.tags.includes('Trash')
        a.btn.btn-primary(href = `/action/${actionTypeForm.formId}/unspec`)
          img.small-icon(src = '/images/run_icon.svg')
          | &nbsp; Perform New Action of This Type

        .vert-space-x2

      h2 #{title}

    .vert-space-x1
      table.table
        thead
          tr
            th.col-md-2 Type Name
            th.col-md-1 Action ID
            th.col-md-3 Performed on Component:
            th.col-md-2 Last Performed On:
            th.col-md-1

        tbody
          each action in actions
            - const notSingleType_notTrashed = !singleType && !allActionTypeForms[action.typeFormId].tags.includes('Trash');

            if notSingleType_notTrashed || singleType
              - const uuid = MUUID.from(action.componentUuid).toString();

              tr
                td #{action.typeFormName}
                td
                  a(href = `/action/${action.actionId}`) #{action.actionId}
                td
                  a(href = `/component/${uuid}`) #{action.componentName}
                td
                  +dateTimeFormat(action.lastEditDate)
                td
                  a.btn-sm.btn-secondary(href = `/json/action/${action.actionId}`, target = '_blank')
                    img.small-icon(src = '/images/checklist_icon.svg')
                    | &nbsp; JSON
    .vert-space-x2
