block pugscripts
  //- Return the appropriate boolean flag ('true' or 'false') based on the 'truthiness' of the user authentication
  - const isAuthenticated = () => !!user;

  //- Return the user's primary email address if the user is authenticated, or an error message if not
  - function user_email(user) { if (isAuthenticated()) return (user.emails[0].value); return '[Login to see!]' };

  //- Return the user's display name if the user is authenticated (or the email address if no display name has been set), or an error message if not
  - function user_shortname(user) { if (isAuthenticated()) return (user.displayName || user_email(user)); return '[Login to see!]' };

  //- Return the ordinal of a given number when provided with the remainders of that number divided by 10 and 100
  - function get_ordinal(r10, r100) { if (r10 === 1 && r100 !== 100) return 'st'; if (r10 === 2 && r100 !== 12) return 'nd'; if (r10 === 3 && r100 !== 13) return 'rd'; return 'th'; }

mixin dateTimeFormat(date)
  - const fullDate = new Date(date);
  - const ordinal = get_ordinal(fullDate.getDate() % 10, fullDate.getDate() % 100);
  span.date(data - date = date) #{`${fullDate.toLocaleString('default', { month: 'long' })} ${fullDate.getDate()}${ordinal} ${fullDate.getFullYear()}, ${fullDate.toLocaleTimeString()}`}

mixin dateFormat(date)
  - const fullDate = new Date(date);
  - const ordinal = get_ordinal(fullDate.getDate() % 10, fullDate.getDate() % 100);
  span.date(data - date = date) #{`${fullDate.toLocaleString('default', { month: 'long' })} ${fullDate.getDate()}${ordinal} ${fullDate.getFullYear()}`}

mixin arrayFormat(array)
  span #{JSON.stringify(array).replace(/["\[\]]/g, '').replace(/,/g, ', ')}

mixin qr-panel-noText(text, desc)
  .qr&attributes(attributes)
    .canvas-holder
      canvas.qr-code(data-QR-text = text, data-QR-desc = desc)

mixin qr-panel-topText(text, desc)
  .qr&attributes(attributes)
    .qr-label.qr-label-top
      div=desc
    .canvas-holder
      canvas.qr-code(data-QR-text = text, data-QR-desc = desc)      
