block pugscripts
  //- Return the appropriate boolean flag ('true' or 'false') based on the 'truthiness' of the user authentication
  - const isAuthenticated = () => !!user;

  //- Return the user's primary email address if the user is authenticated, or an error message if not
  - function user_email(user) { if (isAuthenticated()) return (user.emails[0].value); return '[Login to see!]' };

  //- Return the user's display name if the user is authenticated (or the email address if no display name has been set), or an error message if not
  - function user_shortname(user) { if (isAuthenticated()) return (user.displayName || user_email(user)); return '[Login to see!]' };

mixin dateFormat(date)
  span.date(data - date = date) #{moment(date).format('MMMM Do YYYY, h:mm:ss a')}

mixin dateFormatAndAgo(date)
  span.date(data - date = date) #{moment(date).format('MMMM Do YYYY, h:mm:ss a')}
    =` (${moment(date).fromNow()})`

mixin arrayFormat(array)
  span #{JSON.stringify(array).replace(/["\[\]]/g, '').replace(/,/g, ', ')}

mixin qr-panel(text, desc)
  .qr&attributes(attributes)
    .qr-label.qr-label-top
      div #{text}
      div #{desc}
    .qr-label.qr-label-left
      div #{text}
      div #{desc}
    .qr-label.qr-label-right
      div #{text}
      div #{desc}
    .qr-label.qr-label-bottom
      div #{text}
      div #{desc}
    .canvas-holder
      canvas.qr-code(data-QR-text = text, data-QR-desc = desc)      
