extend default

block vars
  - const page_title = 'Create or Edit Component';

block extrascripts
  script(type = 'text/javascript').
    const component = !{JSON.stringify(component, null, 4)};
    const componentTypeForm = !{JSON.stringify(componentTypeForm, null, 4)};
    const subComponent_fullUuids = !{JSON.stringify(subComponent_fullUuids)};
    const subComponent_shortUuids = !{JSON.stringify(subComponent_shortUuids)};
    const componentTypesAndCounts = !{JSON.stringify(componentTypesAndCounts)};

  block workscripts
    script(src = '/pages/component_edit.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Create or Edit Component

    div.vert-space-x1
      dl
        dt Component Type
        dd #{componentTypeForm.formName}

        dt Component UUID
        dd #{component.componentUuid}

    div.vert-space-x1
      hr

    div.vert-space-x1.formbuilder_area
      #typeform

    div.vert-space-x2
