extend default
include common.pug

block vars
  - const page_title = 'Component Summary';

block extrascripts
  script(type = 'text/javascript').
    const component = !{JSON.stringify(component, null, 4)};
    const componentTypeForm = !{JSON.stringify(componentTypeForm, null, 4)};
    const actions = !{JSON.stringify(actions, null, 4)};

  block workscripts
    script(src = '/pages/component_summary.js')

block allbody
  .vert-space-x2.hori-space-x1.noprint
    a.btn.btn-primary(onclick = 'window.print(); return false;' href = '#print') Print Summary

    .vert-space-x1
      p For best display, please print <b>without headers and footers</b> and <b>with backgrounds</b>.

  .vert-space-x2
    hr

  .vert-space-x2
    .container-fluid
      .row
        .col-md-9
          h1 Component Summary
          h4 Type: #{component.formName}
          h4 Name: #{component.data.name}
          h4 UUID: #{component.componentUuid}
          p Printed: 
            +dateFormat(moment())

          .vert-space-x1
            dl
              dt Current Version:
              dd This is version #{component.validity.version} of the component, and it was last edited on !{' '}
                +dateFormat(component.insertion.insertDate)

                if component.insertion.user
                  |  by !{' '} #{component.insertion.user.displayName}

                .vert-space-x1.border-success.border.rounded.p-2
                  #componenttypeform

        .col-md-3
          #qr-code
            +qr-panel(`${base_url}/c/${component.shortUuid.toString()}`, component.data.name)

      .pagebreak

      each action in actions
        .section.actionSection
          .section-side.formName action

          .vert-space-x1
            dl
              dt Action Type
              dd #{action.typeFormName}

              dt Action Name

              if action.data.name
                dd #{action.data.name}
              else
                dd (none)

              dt Action ID
              dd #{action.actionId}

              dt Performance Data:
              dd This is version #{action.validity.version} of the action, performed on !{' '}
                +dateFormat(action.insertion.insertDate)

                .vert-space-x1.border-success.border.rounded.p-2
                  .actiontypeform(data-record = action)

        .pagebreak
