extend default
include common.pug

block vars
  - const page_title = 'All Component Types';

block extrascripts
  block workscripts
    script(src = '/pages/component_listTypes.js')

block content
  .container-fluid
    div.vert-space-x2
      a(href = '#', data-toggle = 'modal' data-target = '#NewTypeModal').btn.btn-warning
        img.small-icon(src = '/images/edit_icon.svg')
        | &nbsp; Create New Component Type Form

      #NewTypeModal.modal.fade(tabindex = '-1' role = 'dialog' aria-labelledby = 'NewTypeLabel' aria-hidden = 'true')
        .modal-dialog(role = 'document')
          .modal-content
            .modal-header
              h5#NewTypeLabel.modal-title Create New Component Type Form
              button.close(type = 'button', data-dismiss = 'modal', aria-label = 'Close')
                span(aria-hidden = 'true') &times;
            .modal-body
              div
                | Enter the new component type form ID.
                br
                | NOTE: this ID must have only underscores and alphanumerics (no spaces, hyphens or special characters).  A human-readable name can be set on the next page.
              div.vert-space-x1
                input.form-control#formId(type = 'text')
            .modal-footer
              button.btn.btn-danger(type = 'button', data-dismiss = 'modal') Close
              button.btn.btn-success#NewTypeButton(type = 'button') Create

    div.vert-space-x2
      h2 Available Component Types

    div.vert-space-x1
      table.table
        thead
          tr
            th.col-md-2 Type ID
            th.col-md-3 Type Name
            th.col-md-1 Component Count
            th.col-md-1 Max. TRN
            th.col-md-3
            th.col-md-2

        tbody
          each typeFormId in Object.keys(componentCountsByType).sort()
            - const typeForm = componentCountsByType[typeFormId];
            - const maxTRNResult = maxComponentTRNByType[typeFormId];

            if(typeForm.tags && !typeForm.tags.includes('Trash'))
              tr
                td #{typeFormId}
                td
                  a(href = `/components/${typeFormId}/list`) #{typeForm.formName}

                if(typeForm.count)
                  td #{typeForm.count}
                else 
                  td 0

                if(maxTRNResult.maxValue)
                  td #{maxTRNResult.maxValue}
                else 
                  td 0

                td
                  a(href = `/component/${typeFormId}`).btn-sm.btn-primary
                    img.small-icon(src = '/images/run_icon.svg')
                    | &nbsp; Create New Component of this Type
                td
                  a(href = `/componentTypes/${typeFormId}/edit`).btn-sm.btn-warning
                    img.small-icon(src = '/images/edit_icon.svg')
                    | &nbsp; Edit Component Type Form

    if(permissions.userHas(user, 'forms:edit'))
      div.vert-space-x2
        h2 Trashed Component Types

      div.vert-space-x1
        table.table
          thead
            tr
              th.col-md-2 Type ID
              th.col-md-3 Type Name
              th.col-md-1 Component Count
              th.col-md-1 Max. TRN
              th.col-md-3
              th.col-md-2

          tbody
            each typeFormId in Object.keys(componentCountsByType).sort()
              - const typeForm = componentCountsByType[typeFormId];
              - const maxTRNResult = maxComponentTRNByType[typeFormId];

              if(typeForm.tags && typeForm.tags.includes('Trash'))
                tr
                  td #{typeFormId}
                  td
                    a(href = `/components/${typeFormId}/list`) #{typeForm.formName}

                  if(typeForm.count)
                    td #{typeForm.count}
                  else 
                    td 0

                  if(maxTRNResult.maxValue)
                    td #{maxTRNResult.maxValue}
                  else 
                    td 0

                  td
                  td
                    a(href = `/componentTypes/${typeFormId}/edit`).btn-sm.btn-warning
                      img.small-icon(src = '/images/edit_icon.svg')
                      | &nbsp; Edit Component Type Form

    div.vert-space-x2
