extend default
include common.pug

block vars
  - const page_title = 'Assembled APA Executive Summary';

block extrascripts
  script(type = 'text/javascript').
    const component = !{JSON.stringify(component, null, 4)};
    const collatedInfo = !{JSON.stringify(collatedInfo, null, 4)};

  block workscripts
    script(src = '/pages/component_execSummary.js')

block allbody
  .vert-space-x2.hori-space-x1.noprint
    a.btn.btn-primary(onclick = 'window.print(); return false;' href = '#print') Print Executive Summary

    .vert-space-x1
      p For best display, please print <b>without headers and footers</b> and <b>with backgrounds</b>.

    .vert-space-x2
      hr

  .vert-space-x2
    .container-fluid
      .row
        .col-sm-8
          h1 Assembled APA Executive Summary

          .vert-space-x1.hori-space-x1.h4
            dl
              dt DUNE PID
              dd #{collatedInfo.apaInfo.dunePID}

              dt Production Site
              dd #{collatedInfo.apaInfo.productionSite}

              dt Configuration
              dd #{collatedInfo.apaInfo.configuration}

              dt Component UUID
              dd
                a(href = `/component/${component.componentUuid}`, target = '_blank') #{component.componentUuid}

              dt Assembly Status

              if ((collatedInfo.apaInfo.assemblyStatus) === 'none')
                dd [no associated workflow]
              else
                dd
                  a(href = `/workflow/${collatedInfo.apaInfo.workflowID}`, target = '_blank') #{collatedInfo.apaInfo.assemblyStatus}

          .vert-space-x1.hori-space-x1
            p &nbsp; This summary generated on: 
              +dateFormat(new Date())

        .col-sm-4
          #qr-code
            +qr-panel-noText(`${base_url}/c/${component.shortUuid.toString()}`, 'component.data.name')

    hr

  .vert-space-x2
    .entry_qcSignoffs
      .form_qcSignoffs(data-record = [collatedInfo.apaQC, collatedInfo.frameQC, collatedInfo.meshPanelQC, collatedInfo.cableConduitQC, collatedInfo.pdCableTempSensorQC])

      hr

  .vert-space-x2
    .entry_wireLayers
      .form_wireLayers(data-record = ['G', collatedInfo.layer_g])

      hr

    .entry_wireLayers
      .form_wireLayers(data-record = ['U', collatedInfo.layer_u])

      hr

    .entry_wireLayers
      .form_wireLayers(data-record = ['V', collatedInfo.layer_v])

      hr

    .entry_wireLayers
      .form_wireLayers(data-record = ['X', collatedInfo.layer_x])

      hr

  .vert-space-x2
    .entry_apaNCRs_header
      .form_apaNCRs_header(data-record = [])

    if collatedInfo.apaNCRs_wires.length > 0
      each ncrInfo, index in collatedInfo.apaNCRs_wires
        .entry_apaNCRs_wires
          .form_apaNCRs_wires(data-record = [ncrInfo])

        hr
    else 
      p [no wire non-conformances reported]

      hr

  .vert-space-x2
    .entry_otherNCRs_header 
      .form_otherNCRs_header(data-record = [])

    if (collatedInfo.apaNCRs_other.length > 0) || (collatedInfo.frameNCRs.length > 0) || (collatedInfo.meshPanelNCRs > 0)
      each ncrInfo, index in collatedInfo.apaNCRs_other
        .entry_otherNCRs.vert-space-x1
          .form_otherNCRs(data-record = [ncrInfo])

        hr

      each ncrInfo, index in collatedInfo.frameNCRs
        .entry_otherNCRs.vert-space-x1
          .form_otherNCRs(data-record = [ncrInfo])

        hr

      each ncrInfo, index in collatedInfo.meshPanelNCRs
        .entry_otherNCRs.vert-space-x1
          .form_otherNCRs(data-record = [ncrInfo])

        hr
    else 
      p [no other non-conformances reported]

      hr
