extend default
include common.pug

block vars
  - const page_title = 'Component Summary';

block extrascripts
  script(type = 'text/javascript').
    const component = !{JSON.stringify(component, null, 4)};
    const componentTypeForm = !{JSON.stringify(componentTypeForm, null, 4)};
    const collectionDetails = !{JSON.stringify(collectionDetails, null, 4)};
    const nonConformActions = !{JSON.stringify(nonConformActions, null, 4)};
    const workflowActions = !{JSON.stringify(workflowActions, null, 4)};
    const otherActions = !{JSON.stringify(otherActions, null, 4)};
    const dictionary_locations = !{JSON.stringify(dictionary_locations, null, 4)};

  block workscripts
    script(src = '/pages/component_summary.js')

block allbody
  .vert-space-x2.hori-space-x1.noprint
    a.btn.btn-primary(onclick = 'window.print(); return false;' href = '#print') Print Summary

    .vert-space-x1
      p For best display, please print <b>without headers and footers</b> and <b>with backgrounds</b>.

    .vert-space-x2
      hr

  .vert-space-x2
    .container-fluid
      .row
        .col-sm-7
          h1 Component Summary

          .vert-space-x1.hori-space-x1.h4
            dl
              dt Type
              dd #{component.formName}

              dt Component UUID
              dd #{component.componentUuid}

              dt Name

              if component.data.name
                dd #{component.data.name}
              else
                dd (none)

              if component.formId == 'BoardShipment'
                dt Number of Boards in Shipment
                dd #{component.data.boardUuiDs.length}

          .vert-space-x1.hori-space-x1
            p &nbsp; Printed: 
              +dateTimeFormat(new Date())

        .col-sm-5
          #qr-code
            +qr-panel-noText(`${base_url}/c/${component.shortUuid.toString()}`, 'component.data.name')

      .vert-space-x1
        dl
          dt Current Version:
          dd This is version #{component.validity.version} of the component, and it was last edited on !{' '}
            +dateTimeFormat(component.insertion.insertDate)

            if component.insertion.user
              |  by !{' '} #{component.insertion.user.displayName}

      if component.formId === 'BoardShipment'
        .vert-space-x1.border-success.border.rounded.p-2
          dt Origin Location 
          dd #{dictionary_locations[component.data.originOfShipment]}

          dt Destination Location
          dd #{dictionary_locations[component.data.destinationOfShipment]}

          dt Boards in Shipment
          dd
            table.table
              thead
                tr
                  th.col-md-2 UUID
                  th.col-md-1 UK ID
                  th.col-md-1 Part Number

              tbody
                each info in collectionDetails
                  tr
                    td #{info[0]}
                    td #{info[1]}
                    td #{info[2]}
      else if component.formId === 'DWAComponentShipment'
        .vert-space-x1.border-success.border.rounded.p-2
          dt Origin Location
          dd #{dictionary_locations[component.data.originOfShipment]}

          dt Destination Location
          dd #{dictionary_locations[component.data.destinationOfShipment]}

          dt Components in Shipment
          dd
            table.table 
              thead 
                tr 
                  th.col-md-2 UUID 
                  th.col-md-1 Type
                  th.col-md-1 Number 

              tbody 
                each info in collectionDetails
                  tr
                    td #{info[0]}
                    td #{info[2]}
                    td #{info[1]}
      else if component.formId === 'GroundingMeshShipment'
        .vert-space-x1.border-success.border.rounded.p-2
          dt Origin Location
          dd #{dictionary_locations[component.data.originOfShipment]}

          dt Destination Location
          dd #{dictionary_locations[component.data.destinationOfShipment]}

          dt Meshes in Shipment
          dd
            table.table 
              thead 
                tr 
                  th.col-md-2 UUID 
                  th.col-md-1 Factory ID
                  th.col-md-1 Part Number 

              tbody 
                each info in collectionDetails
                  tr
                    td #{info[0]}
                    td #{info[1]}
                    td #{info[2]}
      else if component.formId === 'PopulatedBoardShipment'
        .vert-space-x1.border-success.border.rounded.p-2
          dt Origin Location
          dd #{dictionary_locations[component.data.originOfShipment]}

          dt Destination Location
          dd #{dictionary_locations[component.data.destinationOfShipment]}

          dt Components in Kit
          dd
            table.table 
              thead 
                tr 
                  th.col-md-2 UUID 
                  th.col-md-1 Type
                  th.col-md-1 UW ID 

              tbody 
                each info in collectionDetails
                  tr
                    td #{info[0]}
                    td #{info[2]}
                    td #{info[1]}
      else if component.formId === 'CEAdapterBoardBatch' || component.formId === 'CRBoardBatch' || component.formId === 'GBiasBoardBatch' || component.formId === 'GeometryBoardBatch'
        if component.formId === 'GeometryBoardBatch'
          .vert-space-x1.border-success.border.rounded.p-2
            #typeform

        - let columnHeader = ''

        if component.data.subComponent_formId == 'CEAdapterBoard' || component.data.subComponent_formId == 'CRBoard' || component.data.subComponent_formId == 'GBiasBoard'
          - columnHeader = 'UW ID'
        else 
          - columnHeader = 'UK ID'

        .vert-space-x1.border-success.border.rounded.p-2
          dt #{`Components in Batch (total = ${component.data.subComponent_count})`}
          dd
            table.table
              thead
                tr
                  th.col-md-3 UUID
                  th.col-md-1 #{columnHeader}

              tbody
                each uuid, index in component.data.subComponent_fullUuids
                  tr
                    td #{uuid}

                    if component.data.subComponent_typeRecordNumbers
                      td #{component.data.subComponent_typeRecordNumbers[index]}
                    else
                      td (not retrievable)
      else
        .vert-space-x1.border-success.border.rounded.p-2
          #componenttypeform

      .pagebreak

      each action in nonConformActions
        .section.actionSection
          .section-side.formName #{action.typeFormName}

          .vert-space-x1
            dl
              dt Action Type
              dd #{action.typeFormName}

              dt Action ID
              dd #{action.actionId}

              dt Performance Data:
              dd This is version #{action.validity.version} of the action, performed on !{' '}
                +dateTimeFormat(action.insertion.insertDate)

                if action.insertion.user
                  |  by !{' '} #{action.insertion.user.displayName}

                .vert-space-x1.border-success.border.rounded.p-2
                  .actiontypeform(data-record = action)

          if action.images
            .vert-space-x1
              each imageString in action.images
                img.in-gallery(src = imageString)

        .pagebreak

      each action in workflowActions
        .section.actionSection
          .section-side.formName (workflow) #{action.typeFormName}

          .vert-space-x1
            dl
              dt Action Type
              dd #{action.typeFormName}

              dt Action ID
              dd #{action.actionId}

              dt Performance Data:
              dd This is version #{action.validity.version} of the action, performed on !{' '}
                +dateTimeFormat(action.insertion.insertDate)

                if action.insertion.user
                  |  by !{' '} #{action.insertion.user.displayName}

                .vert-space-x1.border-success.border.rounded.p-2
                  .actiontypeform(data-record = action)

          if action.images
            .vert-space-x1
              each imageString in action.images
                img.in-gallery(src = imageString)

        .pagebreak

      each action in otherActions
        .section.actionSection
          .section-side.formName (other) #{action.typeFormName}

          .vert-space-x1
            dl
              dt Action Type
              dd #{action.typeFormName}

              dt Action ID
              dd #{action.actionId}

              dt Performance Data:
              dd This is version #{action.validity.version} of the action, performed on !{' '}
                +dateTimeFormat(action.insertion.insertDate)

                if action.insertion.user
                  |  by !{' '} #{action.insertion.user.displayName}

                .vert-space-x1.border-success.border.rounded.p-2
                  .actiontypeform(data-record = action)

          if action.images
            .vert-space-x1
              each imageString in action.images
                img.in-gallery(src = imageString)

        .pagebreak
