extend default
include common.pug

block vars
  - const page_title = 'Created / Edited Components';

block content
  .container-fluid
    .vert-space-x2
      if singleType && componentTypeForm.tags && !componentTypeForm.tags.includes('Trash')
        if workflowComponent
          a.btn.btn-secondary.disabled(href = '')
            img.small-icon(src = '/images/run_icon.svg')
            | &nbsp; Create New Components of This Type via Workflows
        else
          a.btn.btn-primary(href = `/component/${componentTypeForm.formId}`)
            img.small-icon(src = '/images/run_icon.svg')
            | &nbsp; Create New Component of This Type

        .vert-space-x2

      h2 #{title}

    .vert-space-x1
      table.table
        thead
          tr
            th.col-md-2 Type Name
            th.col-md-3 Component Name / UUID 
            th.col-md-1
            th.col-md-2 Last Edited On:
            th.col-md-1

        tbody
          each component in components
            - const notSingleType_notTrashed = !singleType && !allComponentTypeForms[component.typeFormId].tags.includes('Trash');

            if notSingleType_notTrashed || singleType
              - const uuid = MUUID.from(component.componentUuid).toString();

              tr          
                td #{component.typeFormName}

                if component.name
                  td
                    a(href = `/component/${uuid}`) #{component.name}
                else 
                  td 
                    a(href = `/component/${uuid}`) #{uuid}

                if component.typeFormId == 'AssembledAPA'
                  td
                    a.btn-sm.btn-secondary(href = `/component/${uuid}/execSummary`, target = '_blank')
                      img.small-icon(src = '/images/checklist_icon.svg')
                      | &nbsp; Exec. Summary
                else 
                  td

                td
                  +dateTimeFormat(component.lastEditDate)
                td
                  a.btn-sm.btn-secondary(href = `/json/component/${uuid}`, target = '_blank')
                    img.small-icon(src = '/images/checklist_icon.svg')
                    | &nbsp; JSON

    .vert-space-x2
