extend default
include common.pug

block vars
  - var page_title = "View Component";

block extrascripts
  script(type = 'text/javascript').
    var component = !{JSON.stringify(component || {})};
    var form = !{JSON.stringify(form || {})};
    var base_url = "!{base_url}";
  
  block workscripts
    script(src = '/pages/component.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 View Component
    
    div.vert-space-x1
      .row
        .col
          dl
            dt Type
            dd #{component.formName || component.formId}
            
            dt Name
            dd #{component.data.name}
            
            dt UUID
            dd
              div.form-inline
                a(href = '/component/' + component.componentUuid)=component.componentUuid
                
                p &nbsp; &nbsp;
                
                div.copybutton(class = "btn-sm", id = "copyButton", type = "button", onclick = "CopyConfirm(component.componentUuid)") Copy
            
            dt Short UUID
            dd #{component.shortUuid}
            
            dt Current Version:
            dd This is version #{component.validity.version} of the component, and was last edited on !{' '}
              +dateFormatAndAgo(component.insertion.insertDate)
              
              if component.insertion.user
                |  by !{' '}
                a(href = 'mailto:' + user_email(component.insertion.user)) #{component.insertion.user.displayName}
              
              div.vert-space-x1.border-success.border.rounded.p-2
                #builtform
                  +createdFrom(component.createdFrom)
            
            if component.data.subComponent_fullUuids
              div.vert-space-x1.border-success.border.rounded.p-2
                dt Sub Components
                
                dd
                  table.table
                    thead
                      tr
                        th.col-md-3 UUID
                        th.col-md-3 QR Code Link
                    
                    tbody
                      each uuid, index in component.data.subComponent_fullUuids
                        - var shortUuid = component.data.subComponent_shortUuids[index]
                        
                        tr
                          td
                            a(href = '/component/' + uuid, target = '_blank') #{uuid}
                          td #{base_url + '/c/' + shortUuid}
                
                a.btn.btn-secondary#download_links(onclick = "DownloadLinks(component.data.subComponent_shortUuids)", download = "links.txt", href = "") Download List of Links
            
            if component.data.fromBatch
              dt Part of Batch:
              dd
                a(href = '/component/' + component.data.fromBatch, target = '_blank')=component.data.fromBatch
          
          div.vert-space-x1
            dt All Versions:
            dd
              ul
                each v in componentVersions
                  li 
                    a(href = '?version='+(v.validity.version)) Version #{(v.validity||{}).version}
                    |  on 
                    +dateFormatAndAgo(v.insertion.insertDate)
                    
                    if v.insertion.user
                      |  by !{' '}
                      a(href = 'mailto:' + user_email(v.insertion.user)) #{v.insertion.user.displayName}
            
            dt Related Components (linked from):
            
            if((((relatedComponents || {}).linkedFrom) || []).length > 0)
              dd
                ul
                  each o in relatedComponents.linkedFrom
                    li
                      | #{o.formName}:
                      a(href = '/component/' + MUUID.from(o.componentUuid).toString()) #{o.name} 
                      | (#{o.path})
            else
              dd None
          
          div.vert-space-x2.form-inline
            a(href = '/component/' + component.componentUuid + '/edit').btn.btn-warning
              img.small-icon(src = '/images/edit_icon.svg')
              | &nbsp; Edit Component
            
            div.hori-space-x2
              a(href = '/json/component/' + component.componentUuid, target = '_blank').btn.btn-secondary
                img.small-icon(src = '/images/checklist_icon.svg')
                | &nbsp; View the component's JSON file
            
            div.hori-space-x2
              a(href = '/component/' + component.componentUuid + '/qrCodes').btn.btn-primary
                img.small-icon(src = '/images/checklist_icon.svg')
                | &nbsp; Print a set of the component's QR codes
            
            div.hori-space-x2
              a(href = '/component/' + component.componentUuid + '/summary').btn.btn-primary
                img.small-icon(src = '/images/checklist_icon.svg')
                | &nbsp; View and print the component's summary
          
        .col-md-3
          div#qr-code
            +qr-panel(base_url + '/c/' + component.shortUuid.toString(), component.data.name)
    
    div.vert-space-x2
      hr
    
    div.vert-space-x1
      .row
        .col
          h4 Action History
          
          hr
          
          if(!actions || actions.length == 0)
            p None
          else
            table.table
              thead
                tr
                  th.col-md-2 Action Type Name
                  th.col-md-2 Action Name
                  th.col-md-2 Date Performed
              
              tbody
                each action in actions
                  tr
                    td #{action.typeFormName}
                    td 
                      a(href = '/action/' + action.actionId)=action.name
                    td
                      +dateFormat(action.insertDate)
        
        .col-sm-1
        
        .col-6
          h4 Select an Action to Perform
          
          hr
          
          h5 Recommended for this Component Type:
          
          each actionForm in actionForms
            if(actionForm.componentTypes.includes(component.formName) && !actionForm.tags.includes("Trash"))
              a(href = '/action/' + actionForm.formId + '/' + component.componentUuid).tagbutton.btn.btn-success=t
                =actionForm.formName
          
          hr
          
          h5 Other Available Action Types:
          
          each actionForm in actionForms
            if(!actionForm.componentTypes.includes(component.formName) && !actionForm.tags.includes("Trash"))
              a(href = '/action/' + actionForm.formId + '/' + component.componentUuid).tagbutton.btn.btn-success=t
                =actionForm.formName
    
    div.vert-space-x2
      hr

    div.vert-space-x1
      .row
        .col
          h4 Testing History
          
          hr
          
          if(!tests || tests.length == 0)
            p None
          else
            table.table
              thead
                tr
                  th.col-md-2 Test
                  th.col-md-2 Date
                  th.col-md-1 Performed By
              
              tbody
                each test in tests
                  tr
                    td
                      a(href = '/test/' + test._id)=(testForms[test.formId].formName || test.formId)
                    td
                      +dateFormat(test.insertion.insertDate)
                    td #{user_shortname(test.insertion.user)}
        
        .col-sm-1
        
        .col-6
          h4 Select a Test to Run on this Component
          
          hr
          
          h5 Suggested for this Component Type:
          
          each info, formId in testForms
            if(((info || {}).componentTypes || []).includes(component.formId) && !info.tags.includes("Trash"))
              a(href = '/test/' + formId + '/' + component.componentUuid).tagbutton.btn.btn-primary=t
                =info.formName
          
          hr
          
          h5 All Available Tests:
          
          each info, formId in testForms
            if(((info || {}).componentTypes || []).includes("All") && !info.tags.includes("Trash"))
              a(href = '/test/' + formId + '/' + component.componentUuid).tagbutton.btn.btn-primary=t
                =info.formName
          
          each info, formId in testForms
            if(!info.tags || info.tags.length == 0) 
              a(href = '/test/' + formId + '/' + component.componentUuid).tagbutton.btn.btn-primary=t
                =info.formName
    
    div.vert-space-x2
