extend default
include common.pug

block vars
  - const page_title = 'Created / Edited Components';

block content
  .container-fluid
    div.vert-space-x2
      if(singleType && componentTypeForm.tags && !componentTypeForm.tags.includes('Trash'))
        a(href = `/component/${componentTypeForm.formId}`).btn.btn-primary
          img.small-icon(src = '/images/run_icon.svg')
          | &nbsp; Create a New Component of this Type

        div.vert-space-x2

      h2=title

    div.vert-space-x1
      table.table
        thead
          tr
            th.col-md-2 Type Name
            th.col-md-2 Component UUID
            th.col-md-2 Component Name
            th.col-md-2 Created On:
            th.col-md-2 Last Edited On:
            th.col-md-1

        tbody
          each component in components
            - const notSingleType_notTrashed = !singleType && !allComponentTypeForms[component.typeFormId].tags.includes('Trash');

            if(notSingleType_notTrashed || singleType)
              - const uuid = MUUID.from(component.componentUuid).toString();

              tr          
                td #{component.typeFormName}
                td
                  a(href = `/component/${uuid}`) #{uuid}
                td #{component.name} 
                td
                  +dateFormat(component.creationDate)
                td
                  +dateFormatAndAgo(component.lastEditDate)
                td
                  a(href = `/json/component/${uuid}`, target = '_blank').btn-sm.btn-secondary
                    img.small-icon(src = '/images/checklist_icon.svg')
                    | &nbsp; JSON Record

    div.vert-space-x2
