extend default



block vars
  - var page_title="Editing "+courseId;

block extrascripts
  script(type='text/javascript').
    // I could do this by API query of the server, but this works for now.
    var courseId = "!{courseId}";
    var course=!{JSON.stringify((course||{}), null ,4)}; 
    var readOnly=!{retrieved||false};

  script(type='text/javascript',src='/pages/EditCourse.js')
    

block content
  h2 #{course.courseId} | #{course.name}
  
  #builtform



