extend default

block vars
  - var page_title = "Create or Edit Component";

block extrascripts
  script(type = 'text/javascript').
    var component = !{JSON.stringify(component || {}, null, 4)};
    var form = !{JSON.stringify(form || {}, null, 4)};
    var subComponent_fullUuids = !{JSON.stringify(subComponent_fullUuids)};
    var subComponent_shortUuids = !{JSON.stringify(subComponent_shortUuids)};
  
  block workscripts
    script(src = '/pages/edit_component.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Create or Edit Component
    
    div.vert-space-x1
      dl
        dt Component UUID
        dd #{component.componentUuid}
        
        dt Component Type
        dd=form.formName
    
    div.vert-space-x1
      hr
    
    div.vert-space-x1.formbuilder_area
      #builtform
    
    div.vert-space-x2
