extend default
include common.pug

block vars
  - var page_title = "View Submitted Job";

block extrascripts
  script(type = 'text/javascript').
    var job = !{JSON.stringify(job || {}, null, 4)};
    var form = !{JSON.stringify(form || {}, null, 4)};
  
  block workscripts
    script(src = '/pages/job.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 View Submitted Job
    
    div.vert-space-x1
      dl
        if job 
          dt ID
          dd
            a(href = '/job/' + job.jobId)=job.jobId
            
          dt Type
          dd #{form.formName || form.formId}
          
          dt Current Version: 
          dd This is version #{job.validity.version} of the job:
          
            div.vert-space-x1.border-success.border.rounded.p-2
              #builtform  
                +createdFrom(job.createdFrom)
            
            br
            | This version was last edited on !{' '}
            +dateFormatAndAgo(job.insertion.insertDate)
            
            if job.insertion.user
              |  by !{' '}
              a(href = 'mailto:' + user_email(job.insertion.user)) #{job.insertion.user.displayName}
          
          div.vert-space-x1
            dt All Versions:
            dd
              ul
                each v in jobVersions
                  li 
                    a(href = '?version='+(v.validity.version)) Version #{(v.validity||{}).version}
                    |  on 
                    +dateFormatAndAgo(v.insertion.insertDate)
                    
                    if v.insertion.user
                      |  by !{' '}
                      a(href = 'mailto:' + user_email(v.insertion.user)) #{v.insertion.user.displayName}
    
    div.vert-space-x2.form-inline
      a(href = '/job/' + job.jobId + '/edit').btn.btn-warning
        img.small-icon(src = '/images/edit_icon.svg')
        | &nbsp; Edit Job
      
      div.hori-space-x2
        a(href = '/json/job/' + job.jobId, target = '_blank').btn.btn-secondary
          img.small-icon(src = '/images/checklist_icon.svg')
          | &nbsp; View the job's JSON file
    
    div.vert-space-x2
