extend default
include common.pug

      
block content
  h2 Courses

  table.table-sm.table-hover
    tbody
      each courseId in Object.keys(courses).sort()
        -var info = courses[courseId];
        // hide trash.
        if(info.tags && !info.tags.includes("Trash")) 
          tr
            td
              img.icon(src=info.icon)
            td=(info.formName || info.name || courseId)
            td (#{info.componentType})
            if(permissions.userHas(user,"tests:view"))
              td
                a(href='/course/'+courseId).btn.btn-outline-primary View
            if(permissions.userHas(user,"forms:edit"))
              td
                a(href='/EditCourse/'+courseId).btn.btn-outline-warning Edit

  if(permissions.userHas(user,"forms:edit"))
    p.h5.mt-4
      a.NewCourseForm.btn.btn-outline-primary(href='#', data-toggle="modal" data-target="#NewCourseFormModal") Create New Course Form
      #NewCourseFormModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='NewCourseFormLabel' aria-hidden='true')
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5#NewCourseFormLabel.modal-title New Course Form
              button.close(type="button",data-dismiss="modal",aria-label="Close")
                span(aria-hidden=true) &times;
            .modal-body
              div
                | Enter the new course ID.
                br
                | This ID should have only underscores and alphanumerics.
                br
                | The human-readable name will be set on the next page.
                input.NewCourseFormName.form-control(type="text")
            .modal-footer
              button.btn.btn-secondary(type="button", data-dismiss="modal") Close
              button.btn.btn-primary.NewCourseFormCreateButton(type="button") Create
      script.
        $('button.NewCourseFormCreateButton').click(function(){
          window.location.href="/EditCourse/"+ $('button.NewCourseFormCreateButton').parents('.modal-content').find('input').val();
        })
        $('input.NewCourseFormName').on("keyup",function(e){
          if(e.key=="Enter") {
              window.location.href="/EditCourse/"+ $(this).val();
            }
        })
  if(permissions.userHas(user,"forms:edit"))
    h5 Trashed Courses
        table.table-sm.table-hover
          tbody
            each courseId in Object.keys(courses).sort()
              -var info = courses[courseId];
              // show only trash.
              if(info.tags && info.tags.includes("Trash")) 
                tr
                  td
                    img.icon(src=info.icon)
                  td=(info.formName || courseId)
                  if(permissions.userHas(user,"tests:view"))
                    td
                      a(href='/course/'+courseId).btn.btn-outline-primary View
                  if(permissions.userHas(user,"forms:edit"))
                    td
                      a(href='/EditCourse/'+Courseid).btn.btn-outline-warning Edit
