extend default

block vars
  - var page_title = "Run Test (Single Component)";

block extrascripts
  script(type = 'text/javascript').
    var test = !{JSON.stringify((test || {}), null, 4)}; 
    var form = !{JSON.stringify(form || {}, null, 4)}; 
    var componentUuid = !{JSON.stringify(componentUuid || null)};
  
  block workscripts
    script(src = '/pages/test_run_singleComponent.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Run Test (Single Component)
    
    div.vert-space-x1
      dl
        dt Test Type
        dd=form.formName
        
        dt Component UUID
        dd
          if(componentUuid)
            a(href = '/component/' + componentUuid)=componentUuid
          else
            div.span.alert.alert-danger No component UUID available!
    
    div.vert-space-x1
      hr
    
    div.vert-space-x1.formbuilder_area
      #builtform
    
    div.vert-space-x2
