extend default
include common.pug

block vars
  - var page_title = "View Test Results";

block extrascripts
  script(type = 'text/javascript').
    var test = !{JSON.stringify(test || {}, null, 4)}; 
    var form = !{JSON.stringify(form || {}, null, 4)}; 
    
  block workscripts
    script(src = '/pages/test.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 View Test Results
    
    div.vert-space-x1
      dl
        if test 
          dt ID
          dd
            a(href = '/test/' + test._id)=test._id
          
          dt Type
          dd #{form.formName || form.formId}
          
          if(test.componentUuid && component)
            - var uuid = MUUID.from(test.componentUuid);
            
            dt Run on Component:
            dd Type: #{component.formName}
              br
              | Name: #{component.data.name}  
              br
              | UUID: 
              a(href = '/component/' + uuid.toString())=uuid.toString()
          else
            div.span.alert.alert-danger No component information available!
      
          if(form.formName === "Wire Tensions")
            div.vert-space-x1
              .row
                .col-9
                  div.border-info.border.rounded.p-2
                    .row
                      .col <strong>Query a Wire Tension: </strong>
                      .col
                        select.form-control(id = "wireLayer", type = "text")
                          option(value = '' ) Wire Layer
                          option(value = 'X') X
                          option(value = 'U') U
                          option(value = 'V') V
                          option(value = 'G') G
                      .col
                        select.form-control(id = "apaSide", type = "text")
                          option(value = '' ) APA Side
                          option(value = 'A') A
                          option(value = 'B') B
                      .col
                        input.form-control(id = "wireNumber", type = "text", placeholder = "Wire Number")
                      .col
                        input.btn.btn-info#submitPromotion(type = "submit", onclick = "GetWireTension()")
                      .col-2
                        input.form-control(id = "tensionKey", type = "text", placeholder = "Tension Key", readonly)
                      .col-2
                        input.form-control(id = "wireTension", type = "text", placeholder = "Wire Tension (N)", readonly)
                
                .col-3
            
            div.vert-space-x1
          
          dt Results:
          dd This test was performed on !{' '}
            +dateFormatAndAgo(test.insertion.insertDate)
            
            if test.insertion.user
              |  by !{' '}
              a(href = 'mailto:' + user_email(test.insertion.user)) #{test.insertion.user.displayName}
            
            div.vert-space-x1.border-success.border.rounded.p-2
              #builtform  
                +createdFrom(test.createdFrom)
    
    div.vert-space-x2.form-inline
      a(href = '/test/' + test._id + '/copyToDraft').btn.btn-primary
        img.small-icon(src = '/images/run_icon.svg')
        | &nbsp; Copy Results to New Draft
      
      div.hori-space-x2
        a(href = '/json/test/' + test._id, target = '_blank').btn.btn-secondary
          img.small-icon(src = '/images/checklist_icon.svg')
          | &nbsp; View the test's JSON file
    
    div.vert-space-x2
