
extends default
include common.pug


block vars
  - var page_title = "User Profile";


block content
  .container-fluid
    pre #{''}
    pre #{''}
  
    img.avatar_image.border(src = userProfile.picture)
  
    pre #{''}
  
    dl
      dt Display Name
      dd=userProfile.name
    
      dt User ID
      dd=userProfile.user_id
    
      dt Email
      dd 
        a(href = 'mailto:' + userProfile.email) #{userProfile.email} 
      
        if(userProfile.email_verified)
          span (Verified)
    
      dt Created On:
      dd
        +dateFormat(userProfile.created_at)
      
      dt Last Edited On:
      dd
        +dateFormat(userProfile.updated_at)
    
      dt Last Login:
      dd
        +dateFormat(userProfile.last_login)
      
      dt Last IP Address
      dd=userProfile.last_ip
      
      dt Total Logins Count
      dd=userProfile.logins_count
      
      hr
      
      dt Roles
      dd
        pre #{user.roles.join(', ')}
    
      dt Permissions granted by these Roles:
      dd
        <pre>#{user.permissions.join(', ')}</pre>
    
    
    pre #{''}
    pre #{''}

