extends default
include common.pug

block vars
  - var page_title = "User Profile";

block content
  .container-fluid
    div.vert-space-x2
      img.avatar_image.border(src = userProfile.picture)
    
    div.vert-space-x1
      dl
        dt Display Name
        dd=userProfile.name
        
        dt User ID
        dd
          .monospace #{userProfile.user_id}
        
        dt Email
        dd 
          a(href = 'mailto:' + userProfile.email) #{userProfile.email} 
        
          if(userProfile.email_verified)
            span (Verified)
        
        dt Created On:
        dd
          +dateFormat(userProfile.created_at)
        
        dt Last Login:
        dd
          +dateFormat(userProfile.last_login)
        
        dt Last IP Address
        dd
          .monospace #{userProfile.last_ip}
        
        dt Total Logins Count
        dd=userProfile.logins_count
        
        hr
        
        dt Roles
        dd
          +arrayFormat(user.roles)
        
        dt Permissions granted by these Roles:
        dd
          +arrayFormat(user.permissions)
    
    div.vert-space-x2
