extend default

block vars
  - const page_title = 'Create or Edit Workflow';

block extrascripts
  script(type = 'text/javascript').
    const workflow = !{JSON.stringify((workflow || {}), null, 4)}; 
    const workflowTypeForm = !{JSON.stringify(workflowTypeForm, null, 4)};
    const newWorkflow = !{JSON.stringify(newWorkflow, null, 4)};
    const newStepResult = !{JSON.stringify(newStepResult, null, 4)};

  block workscripts
    script(src = '/pages/workflow_edit.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Create or Edit Workflow

    div.vert-space-x1
      dl
        dt Workflow Type
        dd #{workflowTypeForm.formName}

    div.vert-space-x1
      hr

    div.vert-space-x1.formbuilder_area
      #typeform

    div.vert-space-x2
