extend default
include common.pug

block vars
  - const page_title = 'All Workflow Types';

block extrascripts
  block workscripts
    script(src = '/pages/workflow_listTypes.js')

block content
  .container-fluid
    .vert-space-x2
      a.btn.btn-warning(href = '#', data-toggle = 'modal' data-target = '#NewTypeModal')
        img.small-icon(src = '/images/edit_icon.svg')
        | &nbsp; Create New Workflow Type Form

      .modal.fade#NewTypeModal(tabindex = '-1' role = 'dialog' aria-labelledby = 'NewTypeLabel' aria-hidden = 'true')
        .modal-dialog(role = 'document')
          .modal-content
            .modal-header
              h5.modal-title#NewTypeLabel Create New Workflow Type Form
              button.close(type = 'button', data-dismiss = 'modal', aria-label = 'Close')
                span(aria-hidden = 'true') &times;
            .modal-body
              p Enter the new workflow type form ID.
                br
                | NOTE: this ID must have only underscores and alphanumerics (no spaces, hyphens or special characters).  A human-readable name can be set on the next page.
              .vert-space-x1
                input.form-control#formId(type = 'text')
            .modal-footer
              button.btn.btn-danger(type = 'button', data-dismiss = 'modal') Close
              button.btn.btn-success#NewTypeButton(type = 'button') Create

    .vert-space-x2
      h2 Available Workflow Types

    .vert-space-x1
      table.table
        thead
          tr
            th.col-md-2 Type Name
            th.col-md-3 Recommended Component Types
            th.col-md-2
            th.col-md-2

        tbody
          each typeFormId in Object.keys(workflowTypeForms).sort()
            - const typeForm = workflowTypeForms[typeFormId];

            if typeForm.tags && !typeForm.tags.includes('Trash')
              tr
                td
                  a(href = `/workflows/${typeFormId}/list`) #{typeForm.formName}

                if typeForm.componentTypes && typeForm.componentTypes.length > 0
                  td 
                    +arrayFormat(typeForm.componentTypes)
                else
                  td (none)

                td
                  a.btn-sm.btn-primary(href = `/workflow/${typeFormId}`)
                    img.small-icon(src = '/images/run_icon.svg')
                    | &nbsp; Create New Workflow of This Type
                td
                  a.btn-sm.btn-warning(href = `/workflowTypes/${typeFormId}/edit`)
                    img.small-icon(src = '/images/edit_icon.svg')
                    | &nbsp; Edit Workflow Type Form

    if permissions.userHas(user, 'forms:edit')
      .vert-space-x2
        h2 Trashed Workflow Types

      .vert-space-x1
        table.table
          thead
            tr
              th.col-md-2 Type Name
              th.col-md-3 Recommended Component Types
              th.col-md-2
              th.col-md-2

          tbody
            each typeFormId in Object.keys(workflowTypeForms).sort()
              - const typeForm = workflowTypeForms[typeFormId];

              if typeForm.tags && typeForm.tags.includes('Trash') 
                tr
                  td
                    a(href = `/workflows/${typeFormId}/list`) #{typeForm.formName}

                  if typeForm.componentTypes && typeForm.componentTypes.length > 0
                    td
                      +arrayFormat(typeForm.componentTypes)
                  else
                    td (none)

                  td 
                  td
                    a.btn-sm.btn-warning(href = `/workflowTypes/${typeFormId}/edit`)
                      img.small-icon(src = '/images/edit_icon.svg')
                      | &nbsp; Edit Workflow Type Form

    .vert-space-x2
