extend default

block vars
  - const page_title = 'Update Workflow Path Result';

block extrascripts
  script(type = 'text/javascript').
    const workflow = !{JSON.stringify(workflow, null, 4)};
    const workflowTypeForm = !{JSON.stringify(workflowTypeForm, null, 4)};
    const newWorkflow = !{JSON.stringify(newWorkflow, null, 4)};
    const newStepResult = !{JSON.stringify(newStepResult, null, 4)};
    const stepIndex = !{JSON.stringify(stepIndex, null, 4)};
    const stepResult = !{JSON.stringify(stepResult, null, 4)};

  block workscripts
    script(src = '/pages/workflow_edit.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 Update Workflow Path Result

    div.vert-space-x1
      dl
        dt Workflow ID
        dd #{workflow.workflowId}

        dt Step Number 
        dd #{stepIndex + 1}

        dt Step Result 
        dd #{stepResult}

    div.vert-space-x1
      hr

    div.vert-space-x1.formbuilder_area
      #typeform

    div.vert-space-x2
