extend default
include common.pug

block vars
  - const page_title = 'Created / Edited Workflows';

block content
  .container-fluid
    .vert-space-x2
      if(singleType && workflowTypeForm.tags && !workflowTypeForm.tags.includes('Trash'))
        a.btn.btn-primary(href = `/workflow/${workflowTypeForm.formId}`)
          img.small-icon(src = '/images/run_icon.svg')
          | &nbsp; Create New Workflow of This Type

        .vert-space-x2

      h2 #{title}

    .vert-space-x1
      table.table
        thead
          tr
            th.col-md-1 Type Name
            th.col-md-1 Workflow ID
            th.col-md-3 Associated Component
            th.col-md-1 Status
            th.col-md-1

        tbody
          each workflow in workflows
            - const notSingleType_notTrashed = !singleType && !allWorkflowTypeForms[workflow.typeFormId].tags.includes('Trash');

            if(notSingleType_notTrashed || singleType)
              tr
                td #{workflow.typeFormName}
                td
                  a(href = `/workflow/${workflow.workflowId}`) #{workflow.workflowId}

                if(workflow.stepResultIDs[0] != '')
                  td
                    a(href = `/component/${workflow.stepResultIDs[0]}`) #{workflow.componentName}
                else 
                  td (component not yet created)

                if(workflow.status === 'Complete')
                  td.text-success.font-weight-bold #{workflow.status}
                else
                  td.text-danger.font-weight-bold #{workflow.status}

                td
                  a.btn-sm.btn-secondary(href = `/json/workflow/${workflow.workflowId}`, target = '_blank')
                    img.small-icon(src = '/images/checklist_icon.svg')
                    | &nbsp; JSON

    .vert-space-x2
