extend default
include common.pug

block vars
  - const page_title = 'View Workflow Record';

block extrascripts
  script(type = 'text/javascript').
    const workflow = !{JSON.stringify(workflow, null, 4)};
    const workflowVersions = !{JSON.stringify(workflowVersions, null, 4)};
    const workflowTypeForm = !{JSON.stringify(workflowTypeForm, null, 4)};
    const componentTypeForms = !{JSON.stringify(componentTypeForms, null, 4)};
    const actionTypeForms = !{JSON.stringify(actionTypeForms, null, 4)};

  block workscripts
    script(src = '/pages/workflow.js')

block content
  .container-fluid
    div.vert-space-x2
      h2 View Workflow Record

    div.vert-space-x1
      dl
        dt Workflow Type
        dd #{workflow.typeFormName}

        dt Workflow Name

        if workflow.data.name
          dd #{workflow.data.name}
        else
          dd (none)

        dt Workflow ID
        dd
          a(href = `/workflow/${workflow.workflowId}`) #{workflow.workflowId}

        dt Workflow Data:
        dd This is version #{workflow.validity.version} of the workflow, and it was last edited on !{' '}
          +dateFormatAndAgo(workflow.insertion.insertDate)

          if workflow.insertion.user
            |  by !{' '}
            a(href = `mailto:${user_email(workflow.insertion.user)}`) #{workflow.insertion.user.displayName}

          div.vert-space-x1.border-success.border.rounded.p-2
            #typeform

          div.vert-space-x1.border-success.border.rounded.p-2
            table.table
              thead
                tr 
                  th.col-md-1 Step
                  th.col-md-1 Entity Type
                  th.col-md-2 Type Form Name
                  th.col-md-3 Advice 
                  th.col-md-5 Status / Result

              tbody
                each step, index in workflow.path 
                  tr 
                    td #{index + 1}
                    td #{step.type}
                    td #{step.formName}
                    td #{step.advice}

                    - const componentUuid = workflow.path[0].result;
                    - let stepFormId = '';

                    if(index === 0)
                      each typeFormId in Object.keys(componentTypeForms).sort()
                        if(componentTypeForms[typeFormId].formName == step.formName)
                          - stepFormId = componentTypeForms[typeFormId].formId

                      if(componentUuid.length > 0)
                        td
                          a(href = `/component/${componentUuid}`, target = '_blank') #{componentUuid}
                      else 
                        td
                          div.form-inline 
                            | (step not yet performed)

                            div.hori-space-x2
                              a(href = `/component/${stepFormId}?workflowId=${workflow.workflowId}`).btn-sm.btn-primary
                                img.small-icon(src = '/images/run_icon.svg')
                                | &nbsp; Create Component 

                    else
                      each typeFormId in Object.keys(actionTypeForms).sort()
                        if(actionTypeForms[typeFormId].formName == step.formName)
                          - stepFormId = actionTypeForms[typeFormId].formId

                      if(step.result.length > 0)
                        td 
                          a(href = `/action/${step.result}`, target = '_blank') #{step.result}
                      else 
                        td
                          div.form-inline 
                            | (step not yet performed)

                            div.hori-space-x2
                              if(workflow.path[index - 1].result.length > 0)
                                a(href = `/action/${stepFormId}/${componentUuid}?workflowId=${workflow.workflowId}`).btn-sm.btn-primary
                                  img.small-icon(src = '/images/run_icon.svg')
                                  | &nbsp; Perform Action
                              else 
                                a.btn-sm.btn-danger
                                  | Perform Previous Steps First

    div.vert-space-x1
      .panel.panel-default
      .foldable-heading.panel-heading.collapsed(data-toggle = 'collapse' data-target = '#versionsBox')
        | All Versions: 
        i.chevron.fa.fa-fw 

      div#versionsBox.collapse
        ul
          each v in workflowVersions
            li 
              a(href = `?version=${v.validity.version}`) Version #{v.validity.version}
              |  on 
              +dateFormatAndAgo(v.insertion.insertDate)

              if v.insertion.user
                |  by !{' '}
                a(href = `mailto:${user_email(v.insertion.user)}`) #{v.insertion.user.displayName}

    div.vert-space-x2.form-inline
      a(href = `/workflow/${workflow.workflowId}/edit`).btn.btn-warning
        img.small-icon(src = '/images/edit_icon.svg')
        | &nbsp; Edit Workflow

      div.hori-space-x2
        a(href = `/json/workflow/${workflow.workflowId}`, target = '_blank').btn.btn-secondary
          img.small-icon(src = '/images/checklist_icon.svg')
          | &nbsp; View JSON Record

    div.vert-space-x2
