extend default

include common.pug

block vars
  - var page_title="sietch admin";

block content

    .row
        .col-md-6
            .border.rounded.m-3
                a.h4 Documentation
                p From recent to older:
                p
                  a(href='docs/api.md') API description.
                p
                  a(href='docs/schemas.md') Internal MongoDB schema description
                p
                    a(href='docs/notes.md') Working notes
                p
                    a(href='Proposal notes.pdf') Proposal Notes

            .border.rounded.m-3
                h2 Components


                p.border.border-secondary.p-3.m-2
                        a.h4(href='/NewComponent') Register new component

                .border.border-primary.p-3.m-2
                  p Find a component by UUID:
                    +uuid_autocomplete

                  h4 List of all components in DB right now:
                  +component-list(all_components)



                .border.border-danger.p-3.m-2
                        a.h4.componentform(href='/EditComponentForm') Edit the component information form


        .col-md-6
            .border.rounded.m-3
                h2 Tests

                .border.border-primary.p-3.m-2
                  h4 
                    a(href='/tests') View recent tests

                if test_drafts
                  .border.border-primary.p-3.m-2
                    h4 Your Test Drafts:
                    if (test_drafts.length==0)
                      p (None)
                    else
                      ul#drafts
                        each draft in test_drafts
                          li
                            a(href='/test/draft/'+draft._id)
                              span=draft.formName || draft.formId
                            |
                            |
                            span #{moment(draft.insertDate).format('MMMM Do YYYY, h:mm:ss a')} (#{moment(draft.insertDate).fromNow()})
                            |
                            |
                            a(href='/test/deleteDraft/'+draft._id) delete


                .border.border-primary.p-3.m-2
                  h4 Run a test:
                  ul#tests
                    each form in tests
                      li
                        a(href='/test/'+form.formId)="Run "+form.formName

                .border.border-danger.p-3.m-2
                  p.h4
                    +NewTestForm

                  h4 Edit an existing test form:
                  ul#editTests
                  each form in tests
                    li
                        a(href='/EditTestForm/'+form.formId)="Edit "+(form.formName || form.formId)

            .border.rounded.m-3
                h2 Workflows

                .border.border-primary.p-3.m-2
                  h4 Run a workflow:
                  ul#workflows
                    each workflow in workflows
                      li
                        a(href='/job/'+workflow.formId)="Run "+(workflow.formName||workflow.formId)

                .border.border-danger.p-3.m-2
                  p.h4
                    +NewWorkflowForm

                  h4 Edit an existing workflow:
                  ul#editJobs
                  each workflow in workflows
                    li
                        a(href='/EditWorkflowForm/'+workflow.formId)="Edit "+(workflow.formName||workflow.formId)

                if job_drafts
                  .border.border-primary.p-3.m-2
                    h4 Your Job Drafts:
                    if (job_drafts.length==0)
                      p (None)
                    else
                      ul#drafts
                        each draft in job_drafts
                          li
                            a(href='/job/draft/'+draft._id)
                              span=draft.formName || draft.formId
                            |
                            |
                            span=moment(draft.insertDate).format()
                            |
                            |
                            a(href='/job/deleteDraft/'+draft._id) delete



                .border.border-primary.p-3.m-2
                  h4 
                    a(href='/jobs') View recent jobs


    .row.border-top.my-3

    .row
        .col-md-6
            .border.rounded.m-3
        .col-md-6
            .border.rounded.m-3
                h2 Major features required: 
                ul
                        li User authentication - Plug into Fermilab SSO
                        li User permission management (view data / submit data / edit data / edit forms)
                        li Workflow for many of the same test
                        li Documentation
                        li Search for component
                        li Sort tests by component type (?)


