extend default

include common.pug

block vars
  - var page_title=tag;

block content
  h1 Tag Category: #{tag}
  if(componentForms)
   if(permissions.userHas(user,"components:create"))
    h3 Courses:
    each course in courses
      p 
        a(href='/course/'+course.courseId).btn.btn-outline-info 
          if(course.icon) 
            img.icon(src=course.icon)
          span #{course.name}


    h3 Register a new component:
    each form in componentForms
      p 
        a(href='/NewComponent/'+form.formId).btn.btn-outline-info 
          if(form.icon) 
            img.icon(src=form.icon)
          span #{form.formName}
    
  if(testForms)
    h3 Run a test:
    each form in testForms
      p
        a(href='/test/'+form.formId).btn.btn-outline-primary 
          if(form.icon) 
            img.icon(src=form.icon)
          span #{form.formName}

  if(jobForms)
    h3 Run a workflow:
    each form in jobForms
      p

        a(href='/job/'+form.formId).btn.btn-outline-primary 
          if(form.icon) 
              img.icon(src=form.icon)
          span #{form.formName}


