
mixin dateFormat(date)
    span.date(data-date=date)=moment(date).format('MMM DD YYYY h:mm a')

mixin find-a-component
    script(type='text/javascript' src='js/search')
    form#component-full-text-search(method="get",action='/component-search')

        label Full Text Search (doesn't work yet)
        input(name='searchterms', placeholder="Full text search for component")


mixin component-list(list)
    each dummy,type in list
        ul.component-list="type: "+type
            each val,index in list[type]
                li 
                    a(href='/'+val.componentUuid)=val.name

mixin NewTestForm
  a.NewTestForm.btn.btn-outline-primary(href='#', data-toggle="modal" data-target="#NewTestFormModal") Create New Test Form
  #NewTestFormModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='NewTestFormLabel' aria-hidden='true')
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#NewTestFormLabel.modal-title New Test Form
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden=true) &times;
        .modal-body
          div
            | Enter the new form ID.
            | Please use only alphanumerics and underscores
            input.NewTestFormModalName.form-control(type="text")
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
          button.btn.btn-primary.NewTestFormCreateButton(type="button") Create
  script.
    $('button.NewTestFormCreateButton').click(function(){
      window.location.href="/NewTestForm/"+ $('button.NewTestFormCreateButton').parents('.modal-content').find('input').val();
    })
    $('input.NewTestFormModalName').on("keyup",function(e){
      if(e.key=="Enter") {
          window.location.href="/NewTestForm/"+ $(this).val();
        }
    })

mixin NewWorkflowForm
  a.NewWorkflowForm.btn.btn-outline-primary(href='#', data-toggle="modal" data-target="#NewWorkflowFormModal") Create New Workflow Form
  #NewWorkflowFormModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='NewWorkflowFormLabel' aria-hidden='true')
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#NewWorkflowFormLabel.modal-title New Workflow Form
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden=true) &times;
        .modal-body
          div
            | Enter the new form ID.
            | Please use only alphanumerics and underscores
            input.NewWorkflowFormModalName.form-control(type="text")
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
          button.btn.btn-primary.NewWorkflowFormCreateButton(type="button") Create
  script.
    $('button.NewWorkflowFormCreateButton').click(function(){
      window.location.href="/NewWorkflowForm/"+ $('button.NewWorkflowFormCreateButton').parents('.modal-content').find('input').val();
    })
    $('input.NewWorkflowFormModalName').on("keyup",function(e){
      if(e.key=="Enter") {
          window.location.href="/NewWorkflowForm/"+ $(this).val();
        }
    })

mixin uuid_autocomplete
    select.form-control.component-uuid-autocomplete.go-to-component(autocomplete="off" placeholder='type to search...')

block pugscripts
  - function user_email(user) { return ((user.emails||[])[0]||{}).value || "" };
  - function user_shortname(user) { return user.displayName || user_email(user) };


mixin short_user(user)
  if (!user)
    span anonymous
  else
    a(href='mailto:'+user_email(user))=user.displayName||user_email(user)



mixin createdFrom(created_from)
     if(created_from && created_from.processRecordId)
        div.createdFrom.alert.alert-info
          span This component was created by an automated process:
          br
          a(href='/processRecord/'+created_from.processRecordId.toString()) Process Record
          br
          a(href='/'+created_from.inputRecordType+'/'+created_from.inputRecordId.toString()) Input Record



mixin qr-panel(text,desc)
  div.qr&attributes(attributes)
    .qr-label.qr-label-top
      div=text
      div=desc
    .qr-label.qr-label-left
      div=text
      div=desc
    .qr-label.qr-label-right
      div=text
      div=desc
    .qr-label.qr-label-bottom
      div=text
      div=desc
    .canvas-holder
      canvas.qr-code(data-QR-text=text,data-QR-desc=desc)      
      
