extend default

include common.pug

block vars
  - var page_title="Component Types";

block content
  h1 Component Types

  table.table
    thead
      tr
        th
        th Type
        th Count
    tbody
      -console.log(JSON.stringify(types,null,2));
      each type in Object.keys(componentTypes).sort()
        -var info = componentTypes[type];
        if(type && type!="null" && !(info.tags||[]).includes("Trash"))
          tr
            td
              img.icon(src=info.icon)
            td
              a(href='/components/type/'+encodeURIComponent(type)) #{type}

            td=info.count

            if(permissions.userHas(user,"components:create"))
              td
                a(href='/NewComponent/'+type).btn.btn-outline-info Register a new component

            if(permissions.userHas(user,"forms:edit"))
              td
                a(href='/EditComponentForm/'+type).btn.btn-outline-warning Edit Component Form


  if(permissions.userHas(user,"forms:edit"))
    a.NewComponentType.btn.btn-outline-primary(href='#', data-toggle="modal" data-target="#NewComponentTypeModal") Create New Component Type
    #NewComponentTypeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='NewComponentTypeLabel' aria-hidden='true')
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5#NewComponentTypeLabel.modal-title New Component Type
            button.close(type="button",data-dismiss="modal",aria-label="Close")
              span(aria-hidden=true) &times;
          .modal-body
            div
              | Enter name of this new component type.
              | Brevity is preferred.
              input.NewComponentTypeName.form-control(type="text")
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary.NewComponentTypeButton(type="button") Create
    script.
      $('button.NewComponentTypeButton').click(function(){
        window.location.href="/NewComponentType/"+ $('button.NewComponentTypeButton').parents('.modal-content').find('input').val();
      })
      $('input.NewComponentTypeName').on("keyup",function(e){
        if(e.key=="Enter") {
            window.location.href="/NewComponentType/"+ $(this).val();
          }
      })

  if(permissions.userHas(user,"forms:edit"))
     h5.mt-3 Trashed component forms:
     table.table
        tbody
          -console.log(JSON.stringify(types,null,2));
          each type in Object.keys(componentTypes).sort()
            -var info = componentTypes[type];
            if(info.tags||[]).includes("Trash")
              tr
                td
                  img.icon(src=info.icon)
                td
                  a(href='/components/type/'+encodeURIComponent(type)) #{type}

                td=info.count

                if(permissions.userHas(user,"forms:edit"))
                  td
                    a(href='/EditComponentForm/'+type).btn.btn-outline-warning Edit Component Form

