extend default

include common.pug

block vars
  - var page_title = component.componentUuid + " - Traveller";

block extrascripts
  script(type = 'text/javascript', src = '/page.js/traveller.js')

  style.
    div.pagebreak{break-before: page;}
    
    div.section {break-inside: avoid-page; 
                 display: block;
                 position: relative;
                 margin: 40px 0;
                 border-left: 34px solid #006;
                 border-top: 4px solid #006;
                 padding-left: 10px;}
    
    div.section-side {font: bold 12px Sans-Serif;
                      letter-spacing: 2px;
                      text-transform: uppercase;
                      color: #ffF;
                      padding: 5px 10px;
                      margin: 0 0 10px 0;
                      line-height: 24px;
                      position: absolute;
                      top: 0;
                      left: 0;

                      /* Border is the new background */
                      background: none;

                      /* Rotate from top left corner (not default) */
                      transform-origin: top left;
                      transform: rotate(90deg);}
                      
    div.section-content{}
    
    div.iconholder {border-right: 2px solid #006;
                    border-bottom: 2px solid #006;
                    height: 44px;
                    width: 44px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 1px;}
    
    .sectionheader {margin-left: 44px;}

mixin component_subdoc(component)
  div.iconholder
    img.icon
  
  - var componentUuid = component.componentUuid;
  
  dl.sectionheader
    dt Version #{component.validity.version}
    dd edited by !{' '}
      +short_user(component.insertion.user)
      |  on !{' '}
      +dateFormat(component.insertion.insertDate)
    
    dt Valid as of !{' '}
    dd
      +dateFormatAndAgo(component.validity.startDate)
  
  .builtform.col-md-8(data-recordtype = component.recordType, data-record = component)

mixin test_subdoc(record)
    div.iconholder
      img.icon(src = (((record.icon || [])[0]) || {}).url)
    
    h3.sectionheader
      span.formName=record.formName || record.formId
      |  (Test)
    
    .builtform.col-md-8(data-recordtype = record.recordType, data-record = record)

mixin job_subdoc(record)
    div.iconholder
      img.icon(src = (((record.icon || [])[0]) || {}).url)
    
    h3.sectionheader
      span.formName=record.formName || record.formId
      |  (job)
    
    .builtform.col-md-8(data-recordtype = record.recordType, data-record = record)

mixin courseEvaluation_subdoc(record)
    div.iconholder
      img.icon(src = (((record.icon || [])[0]) || {}).url)
    
    h3.sectionheader #{record.name} (Course)
    +evaluated-course(record, false)

mixin subdocument(record)
    if(record.recordType == "component") 
      +component_subdoc(record)
    
    if(record.recordType == "test") 
      +test_subdoc(record)
    
    if(record.recordType == "job") 
      +job_subdoc(record)
    
    if(record.recordType == "courseEvaluation") 
      +courseEvaluation_subdoc(record)

block allbody
  pre #{''}
  pre #{''}
  
  div.noprint
    div.form-inline
      pre #{' '}
      
      a.btn.btn-outline-primary(onclick = "window.print(); return false;" href = '#print') Print Traveller
  
    pre #{''}
    pre #{''}
  
    hr
  
  pre #{''}
  pre #{''}
  
  div(style = 'clear: both;')
  
  .container-fluid
    .row
      div.col-md-8
        h1 #{component.type}: #{component.data.name}
        h3 #{componentUuid}
        h3 Traveller
        p printed&nbsp;
         =moment().format('MMMM Do YYYY, h:mm:ss a')
      
      div#qr-code.col-md-3
        +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)
    
    div.pagebreak
    
    each record in records
      div.section
        div.section-side.formName #{record.name || record.formName || record.formId || record.type} (#{record.recordType})
        
        div.section-content
          +subdocument(record)
      
      div.pagebreak

