
extend default

include common.pug

mixin label-link
  a(href="/"+componentUuid+"/label") Printable labels for this component

block vars
  - var page_title=(component||{}).name || componentUuid;

block extrascripts
  script(type='text/javascript').
    var componentUuid = "!{componentUuid}";
    // I could do this by API query of the server, but this works for now.
    var schema=!{JSON.stringify(formrec.schema||{})};
    var component=!{JSON.stringify(component||{})};
    var base_url = "!{base_url}";


  script(type='text/javascript').

      var form = null;
      var shortuuid = window.ShortUUID();

      window.onload = async function() {

        form = await Formio.createForm(document.getElementById('builtform'),schema,
        {
            readOnly: true,
            //- renderMode: 'html'
        });
        form.submission = component;
        form.nosubmit = true; // Use the beforeSubmit hook.

        // Change the url to match
      }


block content
  .container-fluid
    if(formrec.icon && formrec.icon[0])
      img.icon.pull-left(src=formrec.icon[0].url)
    h2#name.col-md-8
      =component.type + ": " + (component.data.name||component.componentUuid.substr(0,8))
    div
        a(href='/'+componentUuid+'/edit') Edit this component
    dl
      dt Component UUID
      dd
        a(href='/'+componentUuid)=componentUuid
      dt Version  #{component.validity.version}
      dd edited by !{' '}
        +short_user(component.insertion.user)
        | 
        | 
        | on #{moment(component.insertion.insertDate).format('MMMM Do YYYY, h:mm:ss a')}
      dd 
        a(href='/'+componentUuid+'/history') History
      dt Effective as of
      dd #{moment(component.validity.startDate).format('MMMM Do YYYY, h:mm:ss a')} (#{moment(component.validity.startDate).fromNow()})
        

    
    #builtform.col-md-8
      +createdFrom(component.createdFrom)

    .row
      .col
        div
            a(href='/json/component/'+componentUuid) Raw JSON Document

        div
          +label-link

      div#qr-code.col-md-4
            +qr-panel(base_url+'/'+component.componentUuid.toString(),component.data.name)
        
    hr
    .row
      .col-md-6
        h4 Testing History:
        if(!testsPerformed || testsPerformed.length==0)
            p None
        else
            ul.testsPerformed
              each test in tests
                li 
                  -var parenthetical= " (on "+ moment(test.insertion.insertDate).format('MMM DD YYYY');
                  -if(test.insertion.user) { parenthetical+=" by " + user_shortname(test.insertion.user) }
                  -parenthetical+=")";
                  a(href='/test/'+test._id)=(forms[test.formId].formName||test.formId)
                  =parenthetical
      .col-md-6
        h4 Run a test on this component
        div
          ul.list-group#tests
              each info,formId in forms
                // Check to see if tags on form match this component.
                if(!info.tags || info.tags.length==0 || (info.tags.includes(component.type)&& !info.tags.includes("Trash")) )
                  li.list-group-item
                    a(href='/'+componentUuid+'/test/'+formId)
                      img.icon(src=info.icon)
                      =info.formName

