extend default

include common

block vars
  - var page_title = component.componentUuid + " - Label";

block extrascripts
  link(rel = 'stylesheet' href = '/css/qr.css')

block allbody
  pre #{''}
  pre #{''}
  
  div.noprint
    div.form-inline
      pre #{' '}
      
      div.switchToggle
        input#qr-error-safe(type = "checkbox", checked = "checked")
        label.label-primary(for = 'qr-error-safe')
    
      pre #{'    '}
      
      a.btn.btn-outline-primary(onclick = "window.print(); return false;" href = '#print') Print Labels
  
  pre #{''}
  pre #{''}
  
  div(style = 'clear: both;')
  
  .container
    .row.qr-row
      div.col-sm-5(style = "border: 1px solid #EEE")
        +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)
      
      div.col-sm-5(style = "border: 1px solid #EEE")
        +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)
    
    .row.qr-row
      div.col-sm-5(style = "border: 1px solid #EEE")
        +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)
      
      div.col-sm-5(style = "border: 1px solid #EEE")
        +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)
    
    .row.qr-row
      div.col-sm-5(style = "border: 1px solid #EEE")
        +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)
      
      div.col-sm-5(style = "border: 1px solid #EEE")
        +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)   

    pre #{''}

