extend default
include common.pug


block vars
  - var page_title="Components";

block content
  /// List of components
  
  p.h3=title||"Components"

  table.table
    thead
      tr
        th Name
        th UUID
        th Created
        th Last Updated

    tbody
    each component in components
      -var uuid=MUUID.from(component.componentUuid).toString();
      tr          
        if(showType)
          td
            if((forms[component.type]||{}).icon)
              img.small-icon(src=forms[component.type].icon)

          td #{component.type}

        td
          a(href='/'+uuid) #{component.name} 
        td
          a(href='/'+uuid)  #{uuid.substr(0,8)}...
        td
          +dateFormat(component.created)
        td
          +dateFormat(component.last_edited)



