extend default

include common.pug

block vars
  - var page_title = componentUuid;

block extrascripts
  style.
    .tagbutton {margin: 4px;}
    
    .copybutton {background-color: #008CBA;
                 width: 45px;
                 text-align: center;
                 color: white;
                 font-size: 10px;
                 padding: 3px 3px;
                 border-radius: 4px;
                 border: 2px solid #008CBA;}
  
  script(type = 'text/javascript').
    var componentUuid = "!{componentUuid}";
    
    var schema = !{JSON.stringify(formrec.schema || {})};
    var component = !{JSON.stringify(component || {})};
    var base_url = "!{base_url}";
  
  script(type = 'text/javascript').
    var form      = null;
    var shortuuid = window.ShortUUID();

    window.onload = async function()
    {
      form = await Formio.createForm(document.getElementById('builtform'),schema,
      {
        readOnly: true,
      });
      
      form.submission = component;
      form.nosubmit = true;
    }
  
  script(type = 'text/javascript').
    function CopyConfirm(componentUUID)
    {
      var copyhelper = document.createElement("input");
      copyhelper.className = 'copyhelper'
      
      document.body.appendChild(copyhelper);
      
      copyhelper.value = componentUUID;
      copyhelper.select();
      
      document.execCommand('copy');
      document.body.removeChild(copyhelper);
      document.getElementById("copyButton").innerHTML = "Copied";
      document.getElementById("copyButton").style.backgroundColor = "green";
    };

block content
  .container-fluid
    pre #{''}
    pre #{''}

    if(formrec.icon && formrec.icon[0])
      img.icon.pull-left(src = formrec.icon[0].url)
    
    h2=component.type + ": " + component.data.name
    
    pre #{''}
    
    .row
      .col
        dl
          dt Name
          dd #{component.data.name}
      
          dt UUID
          dd
            a(href = '/component/' + componentUuid)=componentUuid
            br
            |
            div.copybutton(class = "btn-sm", id = "copyButton", type = "button", onclick = "CopyConfirm(componentUuid)") Copy
      
          dt Type
          dd #{component.type}
      
          dt Version and History
          dd This is version #{component.validity.version} of the component:
            
            pre #{''}
            
            div.border-success.border.rounded.p-2
              #builtform
                +createdFrom(component.createdFrom)
            
            br
            | This version was last edited by !{' '}
            a(href = 'mailto:' + user_email(component.insertion.user)) #{component.insertion.user.displayName}
            |  on !{' '}
            +dateFormatAndAgo(component.insertion.insertDate)
            | .
            br
            | It is effective as of !{' '}
            +dateFormatAndAgo(component.validity.startDate)
            | .
          dd 
            a(href = '/component/' + componentUuid + '/history') View Component History
        
        if((((relationships || {}).linkedFrom) || []).length > 0)
          pre #{''}
          .row
            .col 
              p This component is linked to from the following other components:
              
              ul
              
              each o in relationships.linkedFrom
                li
                  | #{o.type}:
                  a(href = '/component/' + MUUID.from(o.componentUuid).toString()) #{o.name} 
                  | (#{o.path})
        
        pre #{''}
    
        h4 Component Options
    
        div
          a(href = '/component/' + componentUuid + '/edit') Edit Component
        div
          a(href = '/component/' + componentUuid + '/label') View and print the component's QR code labels
        div
          a(href = '/component/' + componentUuid + '/traveller') View and print the component's traveller
        div
          a(href = '/json/component/' + componentUuid) View the component's full JSON entry
      
      .col-md-4
        div#qr-code
          +qr-panel(base_url + '/component/' + component.componentUuid.toString(), component.data.name)
    
    pre #{''}
    pre #{''}
  
    hr
    
    .row
      .col
        h4 Testing History
        
        if(!tests || tests.length == 0)
            p None
        else
            table.table
              thead
                tr
                  th.col-md-2 Test
                  th.col-md-2 Date
                  th.col-md-1 Performed By
              
              tbody
                each test in tests
                  tr
                    td
                      a(href = '/test/' + test._id)=(forms[test.formId].formName || test.formId)
                    td
                      +dateFormat(test.insertion.insertDate)
                    td #{user_shortname(test.insertion.user)}
      
      .col-sm-1
      
      .col-6
        h4 Select a Test to Run on this Component
        pre #{''}
        
        div
          h5 Suggested for this Component Type:
          
          // First, list the tests that are specifically matched to this component type
          each info, formId in forms
            if(((info || {}).componentTypes || []).includes(component.type)&& !info.tags.includes("Trash"))
              a(href = '/test/' + formId + '/' + componentUuid).tagbutton.btn.btn-outline-primary=t
                if((info || {}).icon)
                  img.icon(src = info.icon)
                =info.formName
          
          hr
          
          h5 Other Available Tests:
          
          // Next, list the tests which are tagged as being applicable to 'all' component types
          each info, formId in forms
            if(((info || {}).componentTypes || []).includes("All") && !info.tags.includes("Trash"))
              a(href = '/test/' + formId + '/' + componentUuid).tagbutton.btn.btn-outline-primary=t
                if((info || {}).icon)
                  img.icon(src = info.icon)
                =info.formName
          
          // Finally, list the tests that do not have any tags
          each info, formId in forms
            if(!info.tags || info.tags.length == 0) 
              a(href = '/test/' + formId + '/' + componentUuid).tagbutton.btn.btn-outline-primary=t
                if((info || {}).icon)
                  img.icon(src = info.icon)
                =info.formName
          
          pre #{''}
          pre #{''}
