
extend default

include common.pug

mixin label-link
  a(href="/"+componentUuid+"/label") Printable labels for this component

block vars
  - var page_title=(component||{}).name || componentUuid;

block extrascripts
  script(type='text/javascript').
    var componentUuid = "!{componentUuid}";
    // I could do this by API query of the server, but this works for now.
    var schema=!{JSON.stringify(schema||{})};
    var component=!{JSON.stringify(component||{})};
    var base_url = "!{base_url}";


  script(type='text/javascript').

      var form = null;
      var shortuuid = window.ShortUUID();

      window.onload = async function() {
        console.log("schema",schema);

        form = await Formio.createForm(document.getElementById('builtform'),schema,
        {
            readOnly: true,
            //- renderMode: 'html'
        });
        form.submission = component;
        form.nosubmit = true; // Use the beforeSubmit hook.

        // Change the url to match

        DrawQRCode($('#qrcode-canvas').get(0),base_url+componentUuid,component.data.name);      
      }

  style.
    div#qr-code canvas {
      border: 8px solid green;
      border-radius: 8px;
      width:100%;
      height:auto
    }

block content
  .container
    .row
        h2#name.col-md-8
          =component.data.type?(component.data.type + ": " + component.data.name):"New Component"
    .row 
      dl
        dt Component UUID
        dd
          a(href='/'+componentUuid)=componentUuid
    .row
      dl
        dt 
      .col-md-8   
        +label-link
    .row
      .col-md-8
        a(href='/'+componentUuid+'/edit') Edit this component
    .row
      .col-md-8
        a(href='/json/component/'+componentUuid) Raw JSON Document
    .row
      .col-md-8 
        | Version #{component.validity.version}  &nbsp;
        a(href='/'+componentUuid+'/history') History
    .row 
      .col-md-8  Effective as of #{moment(component.validity.startDate).format('MMMM Do YYYY, h:mm:ss a')} (#{moment(component.validity.startDate).fromNow()})
    .row
      .col-md-8
        | This version edited by !{' '}
        +short_user(component.insertion.user)
        | 
        | 
        | on #{moment(component.insertion.insertDate).format('MMMM Do YYYY, h:mm:ss a')}


    .row
      #builtform.col-md-8
      +createdFrom(component.createdFrom)

    .row
      div#qr-code.col-md-4
        canvas#qrcode-canvas
        +label-link
    .row
        Run a test on this component:
          ul#tests
            each form in forms
              li
                a(href='/'+componentUuid+'/test/'+form.formId)=form.formName
    .row
      .column
        h4 Tests Performed
            ul.testsPerformed
              each test in tests
                li 
                  -var parenthetical= " (on "+ moment(test.insertion.insertDate).format('MMM DD YYYY');
                  -if(test.insertion.user) { parenthetical+=" by " + user_shortname(test.insertion.user) }
                  -parenthetical+=")";
                  a(href='/test/'+test._id)=(test.formName||test.formId)
                  =parenthetical
    i
