
extend default

include common.pug

block vars
  - var page_title=(component||{}).name || componentUuid;

block extrascripts
  script(type='text/javascript').
    var componentUuid = "!{componentUuid}";
    // I could do this by API query of the server, but this works for now.
    var schema=!{JSON.stringify(schema||{})};
    var component=!{JSON.stringify(component||{})};


  script(type='text/javascript').

    var form = null;
    window.onload = async function() {
      console.log("schema",schema);

      form = await Formio.createForm(document.getElementById('builtform'),schema,
      {
          readOnly: true,
          //- renderMode: 'html'
      });
      form.submission = {data: component||{componentUuid: componentUuid}};
      form.nosubmit = true; // Use the beforeSubmit hook.

      // Change the url to match
      //- DrawQRCode($('#qrcode-canvas').get(0),'http://sietch.xyz/'+componentUuid);

      // Now, update the components to match changes.
      FormioUtils.eachComponent(form.components, function(c){c.setCustomValidity(null)}); // reset all.

      var diffs = (component.submit||{}).diff || {};
      for(var key in diffs) {
        var formComponent = FormioUtils.getComponent(form.components,key);
        if(formComponent) formComponent.setCustomValidity("PREVIOUS: "+diffs[key][0]);
      }
      

    }

  style.
    div#qr-code canvas {
      border: 8px solid green;
      border-radius: 8px;
      width:100%;
      height:auto
    }
block content
  .container
    .row
      ul
        each o in effectiveDates
          li 
            a(href='?effectiveDate='+(new Date(o.effectiveDate)).getTime()) #{moment(o.effectiveDate).format('MMM D YYYY h:m a')} #{user_shortname((o.submit||{}).user||{})}
    .row
        h2#name.col-md-8=((component||{}).type)?((component||{}).type+": "+(component||{}).name):"New Component"
    .row
        h3#name.col-md-8 As of #{moment(component.effectiveDate).format('MMM D YYYY h:m a')} (#{moment(component.effectiveDate).fromNow()})
    .row
      a(href='/json/component/'+componentUuid) Raw JSON Document
    .row
      #builtform.col-md-8
