extend default
//-  
//- This is a template, need to include metaschema data to make this functional
//-

block extrascripts
  style.
      .formbuilder_area { border: 5px solid red; border-radius: 10px; padding:5px;}

  script(type='text/javascript').
      //- var record=!{JSON.stringify(rec, null ,4)};
      var formId = "!{formId}";
      var collection = "!{collection}";
      var baseUrl = "!{base_url}";
      //- var componentTypes = !{JSON.stringify(componentTypes) || "null"} ;
      

  block metaschema
    //
    //   script(type='text/javascript').
    //     var builder_wizard = false
    //     var metaschema = { components: [] };
 
  block workscripts
    script(src='/page.js/EditForm.js')




block content
  block content_header
    
  div#metaform

  div.row
    div.col
        .panel.panel-default
        .foldable-heading.panel-heading.collapsed(data-toggle='collapse' data-target='#json-holder')
          | Schema JSON (for debugging) 
          i.chevron.fa.fa-fw    
        div#json-holder.collapse
          textarea#schema.form-control(rows=20)
    div.col
      button.btn.btn-primary#copySchemaToClipboard Copy schema to clipboard
      br
      button.btn.btn-primary#pasteSchemaFromClipboard Paste to schema from clipboard
      br
      a#download_schema_link(download=formId+".json", href="") Download Form Record JSON



  hr
  h2 Trial Form
  div.row
    div.col-6
      div#trialform
    div.col
      pre#trialdata
