extend default

include common.pug

block extrascripts
  style.
    .tagbutton { margin: 4px; }

block vars
  - var page_title="Sietch Dashboard";

block content
  if deployment == "laptop"
    .alert.alert-warning
      p This is Sietch running on your laptop. 
        br
        | Hi, and welcome to the production team! 
        br
        a(href='mailto=nathaniel.tagg@gmail.com') --Nathaniel 
      
  if deployment == "devsite"
    .alert.alert-danger
      p This is the Sietch development site
        br
        | Feel free to create component types, components, forms, and workflows freely.

      p If you create any content on here you wish moved to the production site,
        | talk to Nathaniel.  Otherwise, this is a free playground.

    a(href='https://sietch.xyz') Production site link

  if deployment == "production"
    p.alert.alert-success This is the Sietch production APA database.
    p If you want a playground to try things out, use the 
      a(href="https:/dev.sietch.xyz") development site
      | .

  div.border-success.border.rounded
    h3 Messages of the day:
    ul
      li Check the Slack Channel where I'm making updates.
      li Course pages now look better (Jun 29)
      li Now a built-in wiki using Markdown; see the sidebar. You might need to log out and in to get privs. (Jul 6)
      li The ArrayComponent, which makes plots of things like wire tensions, now has configurable specifications, and will count the number of elements outside those specifcations (Jul 6)
      li There is a new "/traveller/<uuid>" route, which shows a printable page with all the latest tests for a component. Linked to from the component page.  See if this looks good! (Jul 6)
      li Updated some documentation and unit tests. (Jul 7)
      li 
        em Note there may be some new instabilities or wonky features
        | I just updated many 3rd party packages. It passes the unit tests, but things might render funny. Please let me know if there are any usability issues or bad formats.git 


  if(tags && tags.length>0)
      h5 Work Categories (tags):
      each t in tags
              a(href='/category/'+t).tagbutton.btn.btn-outline-primary=t
  hr


  if(user) 
    p You are logged in as #{user.displayName} and have roles:
      pre #{user.roles.join(', ')}
    p If you know the right secrets, you can 
      |
      a(href="/promoteYourself") promote yourself
      |.
  else 
    p You are not signed in
    
  if(recentComponents)
      p Recently visited components:
        ul
        each c in recentComponents
          li
            a(href='/'+c.componentUuid) #{c.componentUuid} &nbsp; &nbsp; #{c.name} [#{c.type}]

  if(git_info)
    p Git revision: #{git_info.revision}
    p Git branch: #{git_info.branch}
    p Git tags: #{git_info.tags}
    p Recent commits:
      pre=git_info.log

