extend default

include common.pug

block extrascripts
  style.
    .tagbutton { margin: 4px; }

block vars
  - var page_title="Sietch Dashboard";

block content
  if deployment == "laptop"
    .alert.alert-warning
      p This is Sietch running on your laptop. 
      p Hi, and welcome to the production team!  Great to have you!
      p --Nathaniel ntagg@otterbein.edu

  if deployment == "devsite"
    .alert.alert-danger
      p This is the Sietch development site

      p All users have complete access to everything.

      p Feel free to create component types, components, forms, and workflows freely.

      p If you create any content on here you wish moved to the production site,
        | talk to Nathaniel.  Otherwise, this is a free playground.

    a(href='https://sietch.xyz') Production site link

  if deployment == "production"
    p.alert.alert-success This is the Sietch production APA database.
    p If you want a playground to try things out, use the 
      a(href="https:/dev.sietch.xyz") development site
      | .

  if(tags && tags.length>0)
      h5 Work Categories (tags):
      each t in tags
              a(href='/category/'+t).tagbutton.btn.btn-outline-primary=t
  hr


  if(user) 
    p You are logged in as #{user.displayName} and have roles:
      pre #{user.roles.join(', ')}
    p If you know the right secrets, you can 
      |
      a(href="/promoteYourself") promote yourself
      |.


  if(recentComponents)
      p Recently visited components:
        ul
        each c in recentComponents
          li
            a(href='/'+c.componentUuid) #{c.componentUuid} &nbsp; &nbsp; #{c.name} [#{c.type}]

  p Git branch: #{git_branch}
  p Recent commits:
    pre=git_log

