extend default

include common.pug

block extrascripts
  style.
    .tagbutton {margin: 4px;}

block vars
  - var page_title = "Dashboard";

block content
  if deployment == "laptop"
    .alert.alert-warning
      p Hi, and welcome to the APA Construction Database development team, currently led by  
        a(href = 'mailto:majumdar@liverpool.ac.uk') Krish Majumdar
        | .  This project (previously named 'Sietch') was originally developed by Nathaniel Tagg.
      
      p This is an instance of the database running locally on your computer.  It is <strong>not</strong> connected to the development or production databases, so any changes made here will not be reflected there.
        br
        | If you create any content on here that you wish moved to the 
        a(href = 'https://dev.sietch.xyz') development
        |  or 
        a(href = 'https://sietch.xyz') production
        |  sites, talk to Krish.  Otherwise, this is your own personal playground.
  
  if deployment == "devsite"
    .alert.alert-danger
      p This is the APA Construction Database development site.
        br
        | Feel free to create components, tests, jobs and associated types freely.

      p If you create any content on here that you wish moved to the 
        a(href = 'https://sietch.xyz') production
        |  site, talk to Krish.  Otherwise, this is a free playground.
  
  if deployment == "production"
    .alert.alert-success 
      p This is the APA Construction Database Production APA database.
      p If you want a playground to try things out, please use either a local instance of the database or the 
        a(href = "https:/dev.sietch.xyz") development 
        |  site.
  
  pre #{''}
  
  .container-fluid
    div.border-success.border.rounded.p-2
      h5 Messages from the Developers:
      ul
        li <strong>2021-11-05</strong> - Cleanup completed on the <strong>tests</strong> and <strong>draft tests</strong> related pages.
        li <strong>2021-10-15</strong> - We have begun cleaning up the backend code, as well as the frontend page layouts, formatting and fixing typos, starting with pages relating to <strong>components</strong> and <strong>non m2m users</strong>.  There should be no changes in any functionality, but please let us know if you find anything that has broken (currently known issues are listed below).
        li <strong>2021-07-07</strong> - Updated some documentation and unit tests.
        li <strong>2021-07-07</strong> - <em>Note there may be some new instabilities or wonky features.</em> I just updated many 3rd party packages. It passes the unit tests, but things might render funny. Please let me know if there are any usability issues or bad formats.
        li <strong>2021-07-06</strong> - There is a new <strong>"/[uuid]/traveller/"</strong> route, which shows a printable page with all the latest tests for a component. Linked to from the component page.  See if this looks good!
        li <strong>2021-07-06</strong> - The ArrayComponent, which makes plots of things like wire tensions, now has configurable specifications, and will count the number of elements outside those specifications.
        li <strong>2021-07-06</strong> - Now we have a built-in wiki using Markdown - see the sidebar. You might need to log out and in to get privs.
    
    pre #{''}
    
    div.border-danger.border.rounded.p-2
      h5 Bugs and Other Issues
      ul
        li Bugs and other errors with existing functionality should be reported at our 
           |
           a(href = "https://github.com/DUNE/dunedb/issues", target = "_blank") Github Issues page
           |  (a Github account is required).  Please give as much information as you can - an example page or link where the bug occurs, how to reproduce the error (if appropriate), etc.
        li Requests for new features and functionality can also be made on that page, but please first make sure that the addition cannot instead be made by users through the database interface.
      
    pre #{''}
    pre #{''}
    
    if(tags && tags.length > 0)
        h5 Work Categories (tags):
        each t in tags
          a(href = '/categories/' + t).tagbutton.btn.btn-outline-primary=t
    
    pre #{''}
    pre #{''}
    
    hr
    
    pre #{''}
    
    if(recentComponents)
        h5 Recently Visited Components:
        
        table(style = 'width: 40%')
          tr
            th Type
            th Name
            th UUID
          tbody
            each c in recentComponents
              tr
                td #{c.type}
                td #{c.name}
                td 
                  a(href = '/component/' + c.componentUuid) #{c.componentUuid}
      
        pre #{''}
        pre #{''}

