extend default

include common.pug

block vars
  - var page_title = "Tests";

block content
  .container-fluid
    pre #{''}
    pre #{''}
  
    if(formId)
      - var name = formId;
    
      - if(tests && tests.length > 0) name = tests[0].formName;
    
      h3 Recently Completed '#{name}' Tests
  
    else
      h3 All Recently Completed Tests

    table.table
      thead
        tr
        
          if(showType)
            th
            th Type
        
          th Test ID
          th Date Performed
          th Performed By
          th
    
      tbody
        each test in tests
          tr
            if(showType)
              td
                if(test.info.icon)
                  img.small-icon(src = test.info.icon)
                
              td #{test.formName}
          
            td
              a(href = '/test/' + test._id) #{test._id}
            td
              +dateFormatAndAgo(test.insertDate)
            td
              a(href = 'mailto:' + user_email(test.user)) #{test.user.displayName}
            td
              a(href = '/json/test/' + test._id).btn.btn-outline-primary
                | View JSON Data

