extend default

include common.pug
include course-mixin.pug

block vars
  - var page_title = "List of Sietch Users";

block content
  pre #{''}
  pre #{''}
  
  h3 All Sietch Users

  table#users_table.table
    thead
      tr
        th Name
        th User ID
        th Email
        th Roles
    
    tbody

  script.
    $(function()
    {
      $.get("/json/users").then(function(data)
      {
        var tbody = $('#users_table tbody');
        tbody.empty();
        
        console.log(data);
        
        for(var u of data)
        {        
          tr = $("<tr>");
          
          maillink = 'mailto:' + u.email;
          
          tr.append(`<td>${u.name}</td>`);
          tr.append(`<td>${u.user_id}</td>`);
          tr.append(`<td><a href = "${maillink}">${u.email}</td>`);
          tr.append(`<td><pre>${u.roles.join(', ')}</pre></td>`);
          
          tbody.append(tr);
          $('')
        }      
      })
    })

