extend default

include common.pug

block vars
  - var page_title = "My Drafts";

block content
  .container-fluid
    pre #{''}
    pre #{''}
  
    h3 My Drafts
  
    pre #{''}
  
    if test_drafts
      .border.border-primary.p-3.m-2
        h5 Test Drafts:
        
        if (test_drafts.length == 0)
          p (None)
      
        else
          ul
        
          each draft in test_drafts
            li.ml-4
              a(href = '/draft/test/' + draft._id) #{draft.formName || draft.formId}
              |  (
              +dateFormatAndAgo(draft.insertion.insertDate)
              | ) 
              a(href = '/draft/test/' + draft._id + '/delete') [delete]

    pre #{''}

    if job_drafts
      .border.border-primary.p-3.m-2
        h5 Job Drafts:
        
        if (job_drafts.length == 0)
          p (None)

        else
          ul
          
          each draft in job_drafts
            li.ml-4
              a(href = '/draft/job/' + draft._id) #{draft.formName || draft.formId}
              |  (
              +dateFormatAndAgo(draft.insertion.insertDate)
              | ) 
              a(href = '/draft/job/' + draft._id + '/delete') [delete]

