extend default

include common.pug

block vars
  - var page_title = "My Drafts";

block content
  .container-fluid
    pre #{''}
    pre #{''}
  
    h2 My Drafts
  
    pre #{''}
  
    if test_drafts
      .border.border-primary.p-3.m-2
        h4 Test Drafts:
        
        if (test_drafts.length == 0)
          p (None)
      
        else
          ul
        
          each test in test_drafts
            li.ml-4
              a(href = '/draft/test/' + test._id) #{test.formName || test.formId}
              |  (
              +dateFormatAndAgo(test.insertion.insertDate)
              | ) 
              a(href = '/draft/test/' + test._id + '/delete') [delete]

    pre #{''}
    pre #{''}

