extend default

include common.pug

block vars
  - var page_title="Permissions error";

block content

  p You do not have permission to perform this action.

  if(required_permission)
    p Required permission: 
      code #{required_permission}

  if(required_user)
    p or required user:
      code #{required_user}


  if(!user)
    p You must 
      |
      |
      a(href="/login") log in or sign up.
  else
    p You are logged in as
      code #{user.user_id}
      code #{user.name}
    p Your roles: 
      code #{user.roles.join(', ')}
    p Your permissions: 
      code #{user.permissions.join(', ')}

