extend default
include common.pug

      
block content
  h2 Recently completed tests:

  table.table
    each test in tests
        tr
            td 
                a(href=`/test/${test._id}`) #{test.formId}
            
            td #{moment(test.insertDate).format()} (#{moment(test.insertDate).fromNow()})

            td
               +short_user(test.user)
            td
                a(href=`/json/test/${test._id}?pretty`) JSON data


