extend default
include common.pug

      
block content
  h2 Recently completed jobs:

  table.table
    each job in jobs
        tr
            -console.log(job)
            -var info = formInfo[job.formId];
            td
              if(info)
                img.icon(src=info.icon)
            td 
              a(href=`/job/${job.jobId}`) #{(job.form||{}).formName||job.formId}

            td 
              a(href=`/job/edit/${job.jobId}`) Edit
            
            td #{moment(job.last_edited).format()} (#{moment(job.last_edited).fromNow()})

            td=job.state

            td
               +short_user(job.user)
            td
                a(href=`/json/job/${job.jobId}?pretty`) JSON data


