extend default

block vars
  - var page_title = "Run Test (Multi Component): " + formId;

block extrascripts
  script(type = 'text/javascript').
  
    // I could do this by API query of the server, but this works for now
    var formrec = !{JSON.stringify(form || {}, null , 4)}; 
    var testdata = !{JSON.stringify((testdata || {}), null , 4)}; 
    var readOnly = !{retrieved || false};
    var route_on_submit = "!{route_on_submit || '/test'}";
    var submission_url = "!{submission_url || '/json/test'}"
    var componentUuid = !{JSON.stringify(componentUuid || null)};
 
  script(type = 'text/javascript' src = '/page.js/test_run_multiComponent.js')

  style.
    #testpanels {background-color: gray;
                 white-space: normal;}
    
    .testform-panel {display: inline-block;
                     width: 600px;
                     min-height: 100px;
                     border: 1px solid black;
                     margin: 2px;
                     background-color: white;
                     vertical-align: top;}

    #add-one-panel {display: inline-block;
                    width: auto;
                    height: 100%;}

block content
  .container-fluid
    pre #{''}
    pre #{''}
    
    h3="Run Test (Multi Component): " + form.formName
    
    pre #{''}
    
    button.btn.btn-primary#add-an-entry Add Component to Test
    
    #uuidModalCenter.modal.fade(tabindex = '-1' role = 'dialog' aria-labelledby = 'uuidModalCenterTitle' aria-hidden = 'true')
      .modal-dialog.modal-dialog-centered(role = 'document')
        .modal-content
          .modal-header
            h5#uuidModalLongTitle.modal-title Add Component to Test
            button.close(type = 'button' data-dismiss = 'modal' aria-label = 'Close')
              span(aria-hidden = 'true') &times;
              
          .modal-body
            p Each test is performed on at least one component. Please enter the desired component's UUID below.
              br
              | The input box uses auto-complete - just start typing a component UUID, and any matching options will be displayed.
              br
              | Alternatively, click on the camera icon (to the right of the box) to take a picture of the component's QR code if you have it available.
            
            #uuid-form

          .modal-footer
            button.btn.btn-secondary(type = 'button' data-dismiss = 'modal') Close

    pre #{''}
    pre #{''}
    
    #testpanels

    template#form-panel-template
      .testform-panel.rounded.p-2
        .componentInfo
          img.float-left.icon
          h5.uuid &nbsp;
          h6.name &nbsp;
          hr
          pre #{''}
        
        .builtform

    pre #{''}
    pre #{''}

