//- views/user.pug

extends default
include common

block content
  br
  .w3-container
    .w3-card-4
      header
      
      p
       img(src=user.picture)
      h1=user.nickname || user.displayName || user.name || [user.given_name,user.family_name].join(' ') || user.email    
      dl
        dt User ID
        dd=user.user_id
        dt Email
        dd
          a(href='mailto:'+user.email)=user.email
          |
          =(user.email_verified)?" (Verified)":""
        if(roles)
          dt Roles
          dd=roles.map(role=>role.name).join(',')
        if(permissions)
          dt permissions
          dd=permissions.map(r=>r.permission_name).join(', ')
        dt Account created
        dd
          +dateFormatAndAgo(user.created_at)
        dt Last Login
        dd
          +dateFormatAndAgo(user.created_at)
          |
          | from IP
          |
          |
          =user.last_ip
        dt Account type
        dd=(user.identities||[]).map(i=>i.provider).join(', ')
        dt Login count
        dd=logins_count

        pre=JSON.stringify(user,null,2)
        pre=JSON.stringify(roles,null,2)
        pre=JSON.stringify(permissions,null,2)
