extends default

block vars
  - var page_title = "User Profile";

block content
  .container-fluid
    pre #{''}
    pre #{''}
  
    img.avatar_image.border(src = userProfile.picture)
  
    pre #{''}
  
    dl
      dt Display Name
      dd=userProfile.name
    
      dt User ID
      dd=userProfile.user_id
    
      dt Email
      dd 
        a(href = 'mailto:' + userProfile.email) #{userProfile.email} 
      
        if(userProfile.email_verified)
          span (Verified)
    
      dt Created
      dd=userProfile.created_at
    
      dt Roles
      dd
        pre #{user.roles.join(', ')}
    
      dt Permissions granted by these Roles:
      dd
        pre(style = 'white-space: pre-wrap') #{user.permissions.join(', ')}
    
      if(permissions.userHas(user, 'users:edit'))
        pre #{''}
      
        a(href = '/user/edit/' + user.user_id).btn.btn-outline-info Modify User

