extend default

include common.pug
include course-mixin.pug

block vars
  - var page_title="Users";

block content

  h1 All Users


  table#users_table.table
    thead
      tr
        th User ID
        th Name
        th Email
        th Roles
    tbody

  script.
    $(function(){
      $.get("/json/users").then(function(data){
        var tbody = $('#users_table tbody');
        tbody.empty();
        console.log(data);
        for(var u of data) {        
          tr = $("<tr><tr>");
          link = '/user/'+u.user_id;
          tr.append(`<td><a href="${link}">${u.user_id}</a></td>`);
          tr.append(`<td><a href="${link}">${u.name}</a></td>`);
          tr.append(`<td><a href="${link}">${u.email}</a></td>`);
          tr.append(`<td><a href="${link}">${u.roles.join(' ')}</a></td>`);
          tbody.append(tr);
          $('')
        }      
      })
    })

