extend default

include common.pug

block vars
  - var page_title=formrec.formName || formId;

block extrascripts
  script(type='text/javascript').
    // I could do this by API query of the server, but this works for now.
    var formrec=!{JSON.stringify(formrec||{}, null ,4)}; 
    var testdata=!{JSON.stringify(testdata||{}, null ,4)}; 

  script(type='text/javascript').

    // take the 'submit' button out.
    for(var i = 0; i<  formrec.schema.components.length; i++) {
      var c = formrec.schema.components[i];
      if(c.type=='button' && c.label=='Submit') formrec.schema.components.splice(i,1);
    }
    window.onload = async function() {
      form = await Formio.createForm(document.getElementById('builtform'),formrec.schema,
        {
          readOnly:true
          //- renderMode: 'html'
        });
      form.nosubmit = true;
      form.submission = testdata;

      

    }

block content
  h2=formrec.formName || formrec.formId
  if testdata 
    p Submitted: 
      +dateFormat(testdata.insertion.startTime)
      if testdata.insertion.user
          |
          |
          span by:
          |
          |
          +short_user(testdata.insertion.user)

    if(testdata.componentUuid)
      p
        -var uuid = MUUID.from(testdata.componentUuid);
        a(href='/'+uuid.toString())=uuid.toString()
  hr
  #builtform  

  +createdFrom(testdata.createdFrom)

  hr
  if testdata.form
    div Data entered in form version #{testdata.form.version}
      if(testdata.formObjectId == formrec._id) 
        | 
        span (Shown)
      else
        | 
        a(href="?version="+testdata.form.version) See this version
    div View with form version:
      each v in versions
        a(href='?version='+v)=v
        |
        |


  if(processes && processes.length>0)
    h4 Processed
    for process of processes
      p 
        a(href='/processRecord/'+process._id.toString())=process.process.processId 
        |
        |
        +dateFormat(process.insertion.insertDate)
        |
        |
        +short_user(process.insertion.user)
        |
        |
        =process.state
        | - 
        | #{process.created.length} objects created


  p
    if(user.permissions.includes('jobs:process'))
      each process, processId in (formrec.processes || {})
        a.btn.btn-warning(href='/process'+testdata.recordType+'/'+testdata._id+'/'+formrec._id+'/'+processId)
          | Process #{processId}

  -var path = (testdata.recordType=="job")?'/json/job':'/json/test';
  p
    a(href=`${path}/${testdata._id}?pretty`) View JSON data
  p
    a(download=testdata._id+".json", href=`${path}/${testdata._id}`) Download JSON data

  
